{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block title %}Acta de JRV{% endblock title %}

{% block content %}
    <h1>JRV: {{acta.provincia}} - {{acta.circunscripcion}} - {{acta.canton}} - {{acta.parroquia}} - {{acta.zona}} - {{acta.junta}}{{acta.genero}}</h1>
    
    <p>Guillermo Lasso: {{acta.lasso}}</p>
    <p>Lenin Moreno: {{acta.moreno}}</p>
    <p>Blancos: {{acta.blancos}}</p>
    <p>Nulos: {{acta.nulos}}</p>
	
	<center><div id="chartContainer" style="width: 50%; height: 300px"></div> </center>
	
    <p>Acta</p>
    <div><img src="{{acta.foto.url}}" /></div>
    
    <hr />
    
    <a href="/">Reportar</a> |
    <a href="/">Ir al inicio</a>
	
	<script type="text/javascript"> 
		window.onload = function() { 
			total = {{acta.lasso}}+{{acta.moreno}}+{{acta.blancos}}+{{acta.nulos}};
			$("#chartContainer").CanvasJSChart({ 
				title: { 
					text: "Porcentaje",
					fontSize: 24
				}, 
				axisY: { 
					title: "Votos" 
				}, 
				legend :{ 
					verticalAlign: "center", 
					horizontalAlign: "right" 
				}, 
				data: [ 
				{ 
					type: "pie", 
					showInLegend: true, 
					toolTipContent: "{label} <br/> {y} %", 
					indexLabel: "{y} %", 
					dataPoints: [ 
						{ label: "Guillermo Lasso",  y: ({{acta.lasso}}*100/total).toFixed(2), legendText: "CREO-SUMA"}, 
						{ label: "Lenin Moreno",    y: ({{acta.moreno}}*100/total).toFixed(2), legendText: "Alianza País" }, 
						{ label: "Blancos",   y: ({{acta.blancos}}*100/total).toFixed(2),  legendText: "Blancos" }, 
						{ label: "Nulos",       y: ({{acta.nulos}}*100/total).toFixed(2),  legendText: "Nulos"}
						
					] 
				} 
				] 
			}); 
		} 
	</script> 
	
{% endblock %}
