{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block title %}Acta de JRV{% endblock title %}

{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Start Posts -->
<div class="post">
	<div class="container">

		<!-- HR -->
		<hr class="container">

		<div class="row get-post">
		
			<div class="col col-md-12">
				<h2 class="title">JRV: {{acta.provincia}} - {{acta.circunscripcion}} - {{acta.canton}} - {{acta.parroquia}} - {{acta.zona}} - {{acta.junta}}{{acta.genero}}</h2>   
			</div>
		  
			<div class="col col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th style="width:30px">Partido</th>
							<th>Candidato</th>
							<th>Votos</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="/static/img/creo.png" width="40px" /></td>
							<td style="text-align:left">Guillermo Lasso</td>
							<td>{{acta.lasso}}</td>
						</tr>
						<tr>
							<td><img src="/static/img/ap.png" width="30px" /></td>
							<td style="text-align:left">Lenin Moreno</td>
							<td>{{acta.moreno}}</td>
						</tr>
						<tr>
							<td><img src="/static/img/blanco.png" width="25px" /></td>
							<td style="text-align:left">Blancos</td>
							<td>{{acta.blancos}}</td>
						</tr>
						<tr>
							<td><img src="/static/img/nulo.png" width="25px" /></td>
							<td style="text-align:left">Nulos</td>
							<td>{{acta.nulos}}</td>
						</tr>
					</tbody>
				</table>
				<a href="{{acta.foto.url}}" target="_blank">Ver Acta</a> | <a href="/">Reportar Acta</a>
			</div>
		
			
			<div class="col col-md-6">
				<center><div id="piechart" style="width: 400px; height: 250px;"></div></center>
			</div>
			
			<div class="col col-md-12">&nbsp;</div>
		</div>
	</div>
</div>
	
	
	<script type="text/javascript"> 
	google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Voto', 'Cantidad'],
		  ["Lasso",{{acta.lasso}}], 
		  ["Moreno",{{acta.moreno}}], 
		  ["Blancos",{{acta.blancos}}], 
		  ["Nulos",{{acta.nulos}}], 
						
        ]);

        var options = {
          //title: 'Resumen'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
	
	</script> 
	
{% endblock %}
