{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block title %}Inicio{% endblock title %}

{% block content %}
    <div class="faq">
  <div class="container">
      <h2 class="pagetitle t-center">PREGUNTAS FRECUENTES</h2>
      <div class="row">

        <div class="col-md-6">
          
          <div class="item">
            <h4 class="title">Quiénes Somos?</h4>
            <p>Somos un grupo de jóvenes haciendo nuestro aporte ciudadano. Miembros principales Carlos Villavicencio, Gabriel Balda y Rafael Rivadeneira</p>
          </div>
          
          <div class="item">
            <h4 class="title">La información es real?</h4>
            <p>Los datos ingresados hasta antes del 2 de Abril NO es real, posterior a esta fecha será validada para tener una información lo mas real posible.</p>
          </div>
          
          <div class="item">
            <h4 class="title">Quién valida la información?</h4>
            <p>Dentro de nuestro grupo de colaboradores, se encargará de validar las actas subidas, la comunidad también puede reportar algún acta que tenga alguna irregularidad.</p>
          </div>

        </div>


        <div class="col-md-6">
          
          <div class="item">
            <h4 class="title">Es legal?</h4>
            <p>Las Actas Finales son públicas para que cualquier persona las pueda ver y compartir con quien sea.</p>
          </div>
          
          <div class="item">
            <h4 class="title">Quién puede subir información?</h4>
            <p>Cualquier persona con smartphone e internet, de preferencia algún miembro de la Junta Receptora de Voto, delegado de mesa o veedor. Los resultados pueden ser visto por cualquier persona desde cualquier dispositivo electrónico</p>
          </div>
          
          <div class="item">
            <h4 class="title">Si tengo mas dudas, preguntas o sugerencias?</h4>
            <p>Puedes escribirnos a urnadevidrio@gmail.com.</p>
          </div>

        </div>


      </div>
  </div>
</div>
<!-- End FAQ -->


{% endblock %}
