{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block title %}Inicio{% endblock title %}

{% block content %}
    <div class="faq">
  <div class="container">
      <h2 class="pagetitle t-center">PREGUNTAS FRECUENTES</h2>
      <div class="row">

        <div class="col-md-6">
          
          <div class="item">
            <h4 class="title">¿Quiénes Somos?</h4>
            <p>Somos un grupo de jóvenes, sin afiliación política alguna, haciendo un aporte al país con el fin último de que las próximas elecciones sean lo más transparente posible. </p>
          </div>
          
          <div class="item">
            <h4 class="title">¿La información es real?</h4>
            <p>Los datos (votos y fotos) ingresados hasta antes del 2 de abril NO son reales, es información ingresada por nuestros diferentes usuarios alrededor del país como prueba y testing de la plataforma. El 2 de abril, a las 00:00h, toda información será borrada.</p>
          </div>
          
          <div class="item">
            <h4 class="title">¿Quién valida la información?</h4>
            <p>Dentro de nuestro grupo de colaboradores, habrá personas encargadas de validar las fotos de las actas subidas contra la información ingresada. Todos los ciudadanos del Ecuador podrán ver los resultados y reportar cualquier acta que tenga irregularidades.</p>
          </div>

        </div>


        <div class="col-md-6">
          
          <div class="item">
            <h4 class="title">¿Es legal?</h4>
            <p>Es clave recordar que La Urna de Vidrio no solicita información del voto individual. Las Actas Finales son públicas para que cualquier persona las pueda ver y compartir. Es importante mencionar que a pesar de que las actas son oficiales, los resultados finales de la plataforma no lo son.</p>
          </div>
          
          <div class="item">
            <h4 class="title">¿Quién puede subir información?</h4>
            <p>Cualquier persona con un celular con acceso a un navegador e Internet podrá subir actas, consultas información y reportar actas. Son los miembros de la diferentes Juntas Receptoras de Voto, delegados de mesa o veedores, los usuarios ideales para subir las actas</p>
          </div>
          
          <div class="item">
            <h4 class="title">Si hay más dudas o sugerencias, ¿cómo comunicarse?</h4>
            <p>Puedes escribirnos a urnadevidrio@gmail.com.</p>
          </div>

        </div>


      </div>
  </div>
</div>
<!-- End FAQ -->


{% endblock %}
