{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block title %}Inicio{% endblock title %}


{% block content %}
<script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Main Box -->
	<div class="main-box">
	  <div class="box-cover main-box-cover">
		<h1>Por unas elecciones transparentes</h1>
		<h4>Iniciativa independiente para proteger el resultado electoral después de realizado el escrutinio de cada urna<br/>
		en la junta receptora del voto. Permite subir la fotografía del acta de escrutinio firmada con los resultados finales <br/>
		de cada una de las juntas electorales, más la información de ubicación de la Junta respectiva. </h4>
		<a href="#formulario" class="btn btn-success">Formulario</a>
	  </div>
	</div>
	<!-- End Main Box -->
    

	<!-- Start FORMULARIO -->
<div class="faq">
  <div class="container">
      <h2 class="pagetitle t-center">FORMULARIO</h2>
			
			<div class="alert alert-warning alert-dismissible" role="alert">
				<!--button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button-->
				<strong>Advertencia!</strong> Toda información ingresada previo al 02-04-2017 será borrada.
				El ingreso de actas estará abierto el mismo día a partir de las 17:00
			</div>
	  
	  <form id="formulario" enctype="multipart/form-data">
        {% csrf_token %}
		
      <div class="row">

        <div class="col-md-6">
			<div class="col-xs-6">
				<div class="form-group">
					<label for="inputProvincia">Provincia*</label>
					<input type="text" name="provincia" class="form-control" id="inputProvincia" placeholder="Provincia" style="text-transform:uppercase">
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="inputCircunscripcion">Circunscripción</label>
					<input type="number" min="0" name="circunscripcion" class="form-control" id="inputCircunscripcion" placeholder="Circunscripcion">
				</div>
			</div>
			
			<div class="col-xs-6">
				<div class="form-group">
				<label for="inputCanton">Cantón*</label>
				<input type="text" name="canton" class="form-control" id="inputCanton" placeholder="Cantón" style="text-transform:uppercase">
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="inputParroquia">Parroquia* </label>
					<input type="text" name="parroquia" class="form-control" id="inputParroquia" placeholder="Parroquia" style="text-transform:uppercase">
				</div>
			</div>
			
			<div class="col-xs-6">
				<div class="form-group">
					<label for="inputZona">Zona</label>
					<input type="text" name="zona" class="form-control" id="inputZona" placeholder="Zona" style="text-transform:uppercase">
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="inputJunta">Junta*</label>
					<input type="number" min="0" name="junta" class="form-control" id="inputJunta" placeholder="Junta">
				</div>
			</div>
			
			<div class="col-xs-12">
				<div class="form-group">
					<label>Género* : </label>&nbsp;
					<input type="radio" name="inputGenero" id="inputGeneroM" value="M"> <label for="inputGeneroM">Masculino</label>&nbsp;&nbsp;
					<input type="radio" name="inputGenero" id="inputGeneroF" value="F"> <label for="inputGeneroF">Femenino</label>
				</div>
			</div>
        </div>

		
		
        <div class="col-md-6">
			<div class="col-xs-6">
				<div class="form-group">
					<label for="inputLasso">Guillermo Lasso <img src="/static/img/creo.png" width="20px" alt="creo" /></label>
					<input type="number" min="0" name="lasso" class="form-control" id="inputLasso" placeholder="# Votos">		  
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="inputMoreno">Lenin Moreno <img src="/static/img/ap.png" width="20px" alt="ap" /></label>
					<input type="number" min="0" name="moreno" class="form-control" id="inputMoreno" placeholder="# Votos">
				</div>
			</div>
			
			<div class="col-xs-6">
				<div class="form-group">
					<label for="inputBlancos">Blancos <img src="/static/img/blanco.png" width="15px"  alt="blanco" /></label>
					<input type="number" min="0" name="blancos" class="form-control" id="inputBlancos" placeholder="# Votos">
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="inputNulos">Nulos <img src="/static/img/nulo.png" width="15px" alt="nulo" /></label>
					<input type="number" min="0" name="nulos" class="form-control" id="inputNulos" placeholder="# Votos">
				</div>
			</div>
        
			<div class="col-xs-12">
				<div class="form-group">
					<label for="inputAutor">Tu nombre (opcional)</label>
					<input type="text" name="autor" class="form-control" id="inputAutor" placeholder="Puedes dejarlo en blanco" style="text-transform:uppercase">
				</div>
			</div>
			
			<div class="col-xs-12">
				<div class="form-group">
					<label for="inputFoto">Foto del Acta *</label>
					<input type="file" id="inputFoto" name="foto" accept=".jpg,.png,.jpeg">
					<!--p class="help-block">Sube una foto aquí.</p-->
				</div>
			</div>
			
			<input type="hidden" name="useragent" id="hiddenUseragent">
			<input type="hidden" name="latitude" id="hiddenLatitude">
			<input type="hidden" name="longitude" id="hiddenLongitude">

        </div>

		<div class="col-xs-12">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="inputObservaciones">Observaciones </label>
				<input type="text" name="observaciones" class="form-control" id="inputObservaciones" placeholder="Ingresar cualquier novedad">
				<br/>
			</div>
		</div>
		</div>
		<div class="col-xs-12">
			<center>
				<div class="g-recaptcha" data-sitekey="6LeEexgUAAAAAGqwILJOV8kYSRMfB6pqVOp8LQPh"></div>
			</center>
		</div>
		<div class="col-xs-12">
			<center>
				<button type="submit" class="btn btn-primary btn-lg">Enviar Acta</button>
				<a href="/resultados/" class="btn btn-success btn-lg">Ver Resultados</a>
			</center>
			
		</div>

      </div>
	  
	  <!-- TODO: captcha -->
		
		
      </form>
  </div>
</div>
<!-- End FORMULARIO -->

	    
        
    
<script>
    document.getElementById('hiddenUseragent').value = navigator.userAgent;
    
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    }
    
    function showPosition(position) {
        document.getElementById("hiddenLatitude").value = position.coords.latitude;
        document.getElementById("hiddenLongitude").value = position.coords.longitude; 
    }
    
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    
    function startAjax() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    }
    
    function upload(event) {
        event.preventDefault();
        
        // TODO: validate data
        
        var fileData = $('#inputFoto').prop('files')[0];
        var formData = new FormData();                  
        formData.append('foto', fileData);
        formData.append("provincia", $('#inputProvincia').val());
        formData.append("parroquia", $('#inputParroquia').val());
        formData.append("circunscripcion", $('#inputCircunscripcion').val());
        formData.append("zona", $('#inputZona').val());
        formData.append("canton", $('#inputCanton').val());
        formData.append("junta", $('#inputJunta').val());
				formData.append("genero", $('input[name=inputGenero]:checked', '#formulario').val());
        formData.append("lasso", $('#inputLasso').val());
        formData.append("moreno", $('#inputMoreno').val());
        formData.append("blancos", $('#inputBlancos').val());
        formData.append("nulos", $('#inputNulos').val());
        formData.append("autor", $('#inputAutor').val());
        formData.append("useragent", $('#hiddenUseragent').val());
        formData.append("latitude", $('#hiddenLatitude').val());
        formData.append("longitude", $('#hiddenLongitude').val());
        
        $.ajax({
            url: '/register/',
            type: 'post',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,      
            success: function (data) {
                if (data.flag == "ok") {
                    // TODO: limpiar campos, mostrar mensaje de feedback
                    swal('Gracias!', 'Has contribuido para un Ecuador transparente', 'success');
										ga('send', 'event', 'Registro', 'Exito', 'JRV:' + $('#inputJunta').val());
										console.log('success', data);
										$('form')[0].reset();
                } else {
										// data.message
										swal('Error', 'Asegurate que el formulario esté completo', 'error');
                }
                
            },
            error: function (xhr, status, error) {
                // error
								swal('Error', 'Por favor escríbenos informándonos este problema', 'error');
								ga('send', 'exception', {
											'exDescription': error,
											'exFatal': false
										});
            }
        });
        return false;
    }
        
    $(function() {
        $('form').submit(upload);
    });
    
    $( document ).ready(function() {
        startAjax();
    });
</script>


<script>
  $( function() {
    var provincias = [
      "AZUAY",
      "BOLIVAR",
	  "CAÑAR",
	  "CARCHI",
	  "COTOPAXI",
	  "CHIMBORAZO",
	  "EL ORO",
	  "ESMERALDAS",
	  "GUAYAS",
	  "IMBABURA",
	  "LOJA",
      "LOS RIOS",
	  "MANABI",
	  "MORONA SANTIAGO",
	  "NAPO",
	  "PASTAZA",
	  "PICHINCHA",
	  "TUNGURAHUA",
	  "ZAMORA CHINCHIPE",
	  "GALAPAGOS",
	  "SUCUMBIOS",
	  "ORELLANA",
	  "SANTO DOMINGO",
	  "SANTA ELENA",
	  "EUROPA, ASIA Y OCEANIA",
	  "ESTADOS UNIDOS Y CANADA",
	  "AMERICA LATINA, CARIBE Y AFRICA"
    ];
	
	var canton = [
      "CUENCA",
"GUALACEO",
"GIRON",
"PAUTE",
"SIGSIG",
"SANTA ISABEL",
"PUCARA",
"CAMILO PONCE ENRIQUEZ",
"OÑA",
"SAN FERNANDO",
"NABON",
"CHORDELEG",
"SEVILLA DE ORO",
"EL PAN",
"GUACHAPALA",
"GUARANDA",
"CHIMBO",
"SAN MIGUEL",
"CHILLANES",
"ECHEANDIA",
"CALUMA",
"LAS NAVES",
"AZOGUES",
"CAÑAR",
"SUSCAL",
"BIBLIAN",
"LA TRONCAL",
"EL TAMBO",
"DELEG",
"TULCAN",
"MONTUFAR",
"ESPEJO",
"MIRA",
"BOLIVAR",
"SAN PEDRO DE HUACA",
"LATACUNGA",
"PUJILI",
"SALCEDO",
"SAQUISILI",
"PANGUA",
"LA MANA",
"SIGCHOS",
"CHAMBO",
"RIOBAMBA",
"GUANO",
"COLTA",
"GUAMOTE",
"ALAUSI",
"CHUNCHI",
"PENIPE",
"PALLATANGA",
"CUMANDA",
"MACHALA",
"SANTA ROSA",
"ZARUMA",
"PASAJE",
"PIÑAS",
"ARENILLAS",
"EL GUABO",
"CHILLA",
"PORTOVELO",
"HUAQUILLAS",
"ATAHUALPA",
"LAS LAJAS",
"MARCABELI",
"BALSAS",
"ESMERALDAS",
"RIO VERDE",
"ELOY ALFARO",
"MUISNE",
"QUININDE",
"SAN LORENZO",
"ATACAMES",
"BALAO",
"COLIMES",
"EL EMPALME",
"GUAYAQUIL",
"YAGUACHI",
"DAULE",
"BALZAR",
"MILAGRO",
"SAMBORONDON",
"SALITRE",
"NARANJAL",
"EL TRIUNFO",
"NARANJITO",
"PALESTINA",
"PEDRO CARBO",
"PLAYAS",
"SIMON BOLIVAR",
"DURAN",
"A.BAQUERIZO MORENO",
"SANTA LUCIA",
"CRNL MARCELINO MARIDUENAS",
"LOMAS DE SARGENTILLO",
"NOBOL / PIEDRAHITA",
"GRAL. A. ELIZALDE",
"ISIDRO AYORA",
"IBARRA",
"OTAVALO",
"COTACACHI",
"ANTONIO ANTE",
"PIMAMPIRO",
"URCUQUI",
"ZONA ESPECIAL ELECTORAL LAS GOLONDRINAS",
"CATAMAYO",
"ZAPOTILLO",
"LOJA",
"SARAGURO",
"PALTAS",
"OLMEDO",
"CELICA",
"CALVAS",
"MACARA",
"PUYANGO",
"GONZANAMA",
"ESPINDOLA",
"SOZORANGA",
"PINDAL",
"QUILANGA",
"CHAGUARPAMBA",
"BABAHOYO",
"VALENCIA",
"BABA",
"VINCES",
"PUEBLO VIEJO",
"URDANETA",
"QUEVEDO",
"VENTANAS",
"QUINSALOMA",
"MONTALVO",
"PALENQUE",
"BUENA FE",
"MOCACHE",
"FLAVIO ALFARO",
"PORTOVIEJO",
"MONTECRISTI",
"JARAMIJO",
"MANTA",
"JIPIJAPA",
"24 DE MAYO",
"ROCAFUERTE",
"SANTA ANA",
"SUCRE",
"JAMA",
"SAN VICENTE",
"CHONE",
"JUNIN",
"PAJAN",
"EL CARMEN",
"TOSAGUA",
"PICHINCHA",
"PEDERNALES",
"PUERTO LOPEZ",
"ZONA ESPECIAL ELECTORAL LA MANGA DEL CURA",
"MORONA",
"GUALAQUIZA",
"LIMON INDANZA",
"SANTIAGO",
"SUCUA",
"LOGROÑO",
"PALORA",
"HUAMBOYA",
"PABLO SEXTO",
"TIWINTZA",
"SAN JUAN BOSCO",
"TAISHA",
"EL CHACO",
"TENA",
"C. J. AROSEMENA TOLA",
"QUIJOS",
"ARCHIDONA",
"PASTAZA",
"MERA",
"SANTA CLARA",
"ARAJUNO",
"QUITO",
"CAYAMBE",
"MEJIA",
"PEDRO MONCAYO",
"RUMIÑAHUI",
"SAN MIGUEL DE LOS BANCOS",
"PEDRO VICENTE MALDONADO",
"PUERTO QUITO",
"TISALEO",
"AMBATO",
"PELILEO",
"PILLARO",
"BAÑOS",
"PATATE",
"QUERO",
"CEVALLOS",
"MOCHA",
"NANGARITZA",
"ZAMORA",
"CHINCHIPE",
"PALANDA",
"YACUAMBI",
"YANZATZA",
"EL PANGUI",
"CENTINELA DEL CONDOR",
"PAQUISHA",
"SAN CRISTOBAL",
"SANTA CRUZ",
"ISABELA",
"LAGO AGRIO",
"CUYABENO",
"SUCUMBIOS",
"PUTUMAYO",
"SHUSHUFINDI",
"CASCALES",
"GONZALO PIZARRO",
"AGUARICO",
"FCO.DE ORELLANA",
"JOYA DE LOS SACHAS",
"LORETO",
"SANTO DOMINGO",
"LA CONCORDIA",
"SALINAS",
"SANTA ELENA",
"LA LIBERTAD",
"ALEMANIA",
"AUSTRALIA",
"AUSTRIA",
"BELGICA",
"COREA (SUR) REPUBLICA DE",
"CHINA",
"ESPAÑA",
"FRANCIA",
"REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE",
"HUNGRIA",
"INDIA",
"ISRAEL",
"ITALIA",
"JAPON",
"PAISES BAJOS (HOLANDA)",
"SUECIA",
"SUIZA",
"FEDERACION DE RUSIA",
"INDONESIA",
"MALASIA",
"TURQUIA",
"IRAN",
"QATAR",
"BELARÚS",
"CANADA",
"ESTADOS UNIDOS DE AMERICA",
"ARGENTINA",
"BOLIVIA",
"BRASIL",
"COLOMBIA",
"COSTA RICA",
"CUBA",
"CHILE",
"EL SALVADOR",
"GUATEMALA",
"HONDURAS",
"MEXICO",
"NICARAGUA",
"PANAMA",
"PARAGUAY",
"PERU",
"EGIPTO",
"REPUBLICA DOMINICANA",
"URUGUAY",
"VENEZUELA",
"SUDAFRICA"
    ];
	
		var parroquia = [
		"BAÑOS",
"CUMBE",
"CHAUCHA / ANGAS",
"CHECA JIDCAY",
"CHIQUINTAD",
"LLACAO",
"MOLLETURO",
"MULTI / NULTI",
"OCTAVIO CORDERO PALACIOS",
"PACCHA",
"QUINGEO",
"RICAURTE",
"SAN JOAQUIN",
"SANTA ANA",
"SAYAUSI",
"SIDCAY",
"SININCAY",
"TARQUI",
"TURI",
"VALLE",
"VICTORIA DEL PORTETE",
"BELLAVISTA",
"CAÑARIBAMBA",
"EL BATAN",
"MACHANGARA",
"MONAY",
"EL VECINO",
"TOTORACOCHA",
"YANUNCAY",
"HUAYNACAPAC",
"RAMIREZ DAVALOS",
"SAGRARIO",
"SAN BLAS",
"SAN SEBASTIAN",
"SUCRE",
"HERMANO MIGUEL",
"DANIEL CORDOVA TORAL",
"LUIS CORDERO VEGA",
"JADAN",
"MARIANO MORENO/CALLASAY",
"REMIGIO CRESPO TORAL",
"SAN JUAN",
"SIMON BOLIVAR",
"ZHIDMAD",
"GUALACEO",
"ASUNCION",
"SAN GERARDO",
"GIRON",
"BULAN / J. VICTOR IZQUIERDO",
"CHICAN / GUILLERMO ORTEGA",
"DUG-DUG",
"GUARAINAC",
"SAN CRISTOBAL",
"TOMEBAMBA",
"EL CABO",
"PAUTE",
"CUTCHIL",
"GIMA",
"GUEL",
"LUDO",
"SAN BARTOLOME",
"SAN JOSE DE RARANGA",
"SIGSIG",
"ABDON CALDERON / LA UNION",
"SHAGLLI",
"SAN SALVADOR DE CAÑARIBAMBA",
"SANTA ISABEL",
"SAN RAFAEL DE SHARUG",
"PUCARA",
"EL CARMEN DE PIJILI",
"CAMILO PONCE ENRIQUEZ",
"SUSUDEL",
"OÑA",
"CHUMBLIN",
"SAN FERNANDO",
"COCHAPATA",
"EL PROGRESO",
"NIEVES",
"NABON",
"LA UNION",
"SAN MARTIN DE PUZHIO",
"LUIS GALARZA O. (DELEGSOL)",
"PRINCIPAL",
"CHORDELEG",
"AMALUZA",
"PALMAS",
"SEVILLA DE ORO",
"SAN VICENTE",
"EL PAN",
"GUACHAPALA",
"SAN LUIS DE PAMBIL",
"FACUNDO VELA",
"JULIO E MORENO",
"SALINAS",
"SAN LORENZO",
"SAN SIMON",
"SANTA FE",
"SIMIATUG",
"ANGEL POLIVIO CHAVEZ",
"GABRIEL I VEINTIMILLA",
"GUANUJO",
"MAGDALENA/CHAPACOTO",
"TELIMBELA",
"SAN JOSE DE CHIMBO",
"BALZAPAMBA",
"BILOVAN",
"SAN PABLO DE ATENAS",
"SANTIAGO",
"REGULO DE MORA",
"SAN MIGUEL",
"SAN JOSE DE TAMBO",
"CHILLANES",
"ECHEANDIA",
"CALUMA / SAN ANTONIO/",
"LAS NAVES",
"LAS MERCEDES",
"COJITAMBO",
"GUAPAN",
"JAVIER LOYOLA / CHUQUIPATA",
"LUIS CORDERO",
"PINDILIG",
"RIVERA",
"TADAY",
"AZOGUES",
"SAN FRANCISCO",
"BORRERO",
"AURELIO BAYAS MARTINEZ",
"CHONTAMARCA",
"CHOROCOPTE",
"GRAL.MORALES / SOCARTE",
"GUALLETURO",
"HONORATO VASQUEZ",
"INGAPIRCA",
"VENTURA",
"DUCUR",
"JUNCAL",
"SAN ANTONIO",
"ZHUD",
"CAÑAR",
"SUSCAL",
"JERUSALEN",
"NAZON",
"SAN FCO. DE SAGEO",
"TURUPAMBA",
"BIBLIAN",
"MANUEL J. CALLE",
"PANCHO NEGRO",
"LA TRONCAL",
"EL TAMBO",
"SOLANO",
"DELEG",
"EL CARMELO/EL PUN/",
"EL CHICAL",
"SANTA MARTHA DE CUBA",
"JULIO ANDRADE",
"MALDONADO",
"PIOTER",
"TOBAR DONOSO",
"TUFIÑO",
"URBINA",
"GONZALEZ SUAREZ",
"TULCAN",
"PIARTAL",
"CRISTOBAL COLON",
"CHITAN DE NAVARRETES",
"FERNANDEZ SALVADOR",
"LA PAZ",
"SAN JOSE",
"EL GOALTAL / LAS JUNTAS",
"LA LIBERTAD",
"SAN ISIDRO",
"EL ANGEL",
"27 DE SEPTIEMBRE",
"JIJON Y CAAMAÑO",
"JUAN MONTALVO",
"LA CONCEPCION",
"MIRA",
"SAN RAFAEL",
"GARCIA MORENO",
"LOS ANDES",
"MONTEOLIVO",
"SAN VICENTE DE PUSIR",
"BOLIVAR",
"MARISCAL SUCRE",
"HUACA",
"ALAQUEZ",
"BELISARIO QUEVEDO",
"GUAYTACAMA",
"JOSEGUANGO BAJO",
"MULALO",
"11 DE NOVIEMBRE",
"POALO",
"SAN JUAN DE PASTOCALLE",
"TANICUCHI",
"TOACAZO",
"ELOY ALFARO / SAN FELIPE",
"IGNACIO FLORES",
"LA MATRIZ",
"SAN BUENAVENTURA",
"ANGAMARCA",
"GUANGAJE",
"LA VICTORIA",
"PILALO",
"TINGO",
"ZUMBAHUA",
"PUJILI",
"ANTONIO J. HOLGUIN",
"CUSUBAMBA",
"MULALILLO",
"MULLIQUINDIL",
"PANZALEO",
"SAN MIGUEL DE SALCEDO",
"CANCHAGUA",
"CHANTILIN",
"COCHAPAMBA",
"SAQUISILI",
"MORASPUNGO",
"PINLLOPATA",
"RAMON CAMPAÑA",
"EL CORAZON",
"GUASAGANDA",
"PUCAYACO",
"LA MANA",
"EL CARMEN",
"EL TRIUNFO",
"PALO QUEMADO",
"CHUGCHILAN",
"ISINLIVI",
"LAS PAMPAS",
"SIGCHOS",
"CHAMBO",
"CACHA",
"CALPI",
"CUBIJIES",
"FLORES",
"LICAN",
"LICTO",
"PUNGALA",
"PUNIN",
"QUIMIAG",
"SAN LUIS",
"LIZARZABURU",
"VELASCO",
"VELOZ",
"YARUQUIES",
"SANTA FE DE GALAN",
"SAN JOSE DEL CHAZO",
"VALPARAISO",
"GUANANDO",
"ILAPO",
"LA PROVIDENCIA",
"SAN ANDRES",
"SAN GERARDO / PAQUICAHUAN",
"SAN ISIDRO DE PATULU",
"EL ROSARIO",
"CANI",
"COLUMBE",
"JUAN DE VELASCO / PONGOR",
"SANTIAGO DE QUITO",
"CAJABAMBA",
"SICALPA",
"CEBADAS",
"PALMIRA",
"GUAMOTE",
"ACHUPALLAS",
"GUASUNTOS",
"HUIGRA",
"MULTITUD",
"PISTISHI",
"PUMALLACTA",
"SEVILLA",
"SIBAMBE",
"TIXAN",
"ALAUSI",
"CAPZOL",
"COMPUD",
"GONZOL",
"LLAGOS",
"CHUNCHI",
"LA CANDELARIA",
"EL ALTAR",
"BILBAO",
"MATUS",
"PUELA",
"SAN ANTONIO DE BAYUSHIG",
"PENIPE",
"PALLATANGA",
"CUMANDA",
"EL RETIRO",
"MACHALA",
"PUERTO BOLIVAR",
"9 DE MAYO",
"EL CAMBIO",
"JUBONES",
"JAMBELI",
"BELLAMARIA",
"LA AVANZADA",
"VICTORIA",
"TORATA",
"SANTA ROSA",
"PUERTO JELI",
"BALNEARIO JAMBELI",
"JUMON",
"NUEVO SANTA ROSA",
"ABANIN",
"GUANAZAN",
"GUIZHAGUIÑA",
"HUERTAS",
"SINSAO",
"SALVIAS",
"MALVAS",
"ARCAPAMBA",
"MULUNCAY GRANDE",
"ZARUMA",
"BUENAVISTA",
"CAÑAQUEMADA",
"PROGRESO",
"LA PEAÑA",
"UZHCURRUMI",
"CASACAY",
"OCHOA LEON/MATRIZ",
"LOMA DE FRANCO",
"TRES CERRITOS",
"PASAJE",
"CAPIRO",
"SARACAY",
"LA BOCANA",
"MOROMORO",
"PIEDRAS",
"SAN ROQUE",
"PIÑAS",
"PIÑAS GRANDE",
"LA SUSAYA",
"CHACRAS",
"CARCABON",
"PALMALES",
"ARENILLAS",
"LA IBERIA",
"BARBONES",
"RIO BONITO",
"TENDALES",
"EL GUABO",
"CHILLA",
"CURTINCAPAC",
"SALATI",
"MORALES",
"PORTOVELO",
"HUAQUILLAS",
"HUALTACO",
"MILTON REYES",
"EL PARAISO",
"ECUADOR",
"UNION LOJANA",
"AYAPAMBA",
"SAN JUAN DE CERRO AZUL",
"CORDONCILLO",
"MILAGRO",
"LA VICTORIA/LAS LAJAS",
"PLATANILLOS",
"EL INGENIO",
"MARCABELI",
"BALSAS",
"CAMARONES",
"CRNL.CARLOS CONCHA TORRES",
"CHINCA",
"MAJUA",
"SAN MATEO",
"TABIAZO",
"TACHINA",
"VUELTA LARGA",
"BARTOLOME RUIZ",
"5 DE AGOSTO",
"ESMERALDAS",
"LUIS TELLO / LAS PALMAS /",
"SIMON PLATA TORRES",
"CHONTADURO",
"CHUMUNDE",
"LAGARTO",
"MONTALVO / HORQUETA",
"ROCAFUERTE",
"RIO VERDE",
"ANCHAYACU",
"ATAHUALPA/CAMARONES",
"BORBON",
"SAN JOSE DE CAYAPAS",
"COLON ELOY DE MARIA",
"TIMBIRE",
"LA TOLA",
"LUIS VARGAS TORRES",
"PAMPANAL DE BOLIVAR",
"SAN FRANCISCO DE ONZOLE",
"SELVA ALEGRE",
"TELEMBI",
"SANTO DOMINGO DE ONZOLE",
"SANTA LUCIA DE LAS PEÑAS",
"VALDEZ/LIMONES/",
"DAULE",
"GALERA",
"QUINGUE",
"SALIMA",
"SAN GREGORIO",
"SAN JOSE DE CHAMANGA",
"MUISNE",
"CUBE / CHANCAMA",
"CHURA",
"MALIMPIA / GUAYLLABAMBA",
"VICHE",
"ROSA ZARATE",
"ALTO TAMBO/GUADAL",
"ANCON/PALMA REAL",
"CALDERON",
"CARONDELET",
"5 DE JUNIO/HUIMBI",
"CONCEPCION",
"MATAJE",
"SAN JAVIER DE CACHABI",
"SANTA RITA",
"TAMBILLO",
"TULULBI /RICAURTE",
"TONSUPA",
"SUA/BOCANA",
"TONCHIGUE",
"ATACAMES",
"BALAO",
"SAN JACINTO",
"COLIMES",
"GUAYAS / PUERTO NUEVO",
"VELASCO IBARRA",
"JUAN GOMEZ RENDON",
"MORRO",
"POSORJA",
"PUNA",
"TENGUEL",
"AYACUCHO",
"BOLIVAR/SAGRARIO",
"CARBO/CONCEPCION",
"FEBRES CORDERO",
"LETAMENDI",
"9 DE OCTUBRE",
"OLMEDO/SAN ALEJO",
"ROCA",
"URDANETA",
"XIMENA",
"PASCUALES",
"GRAL.PEDRO MONTERO",
"VIRGEN DE FATIMA",
"YAGUACHI VIEJO/CONE",
"YAGUACHI NUEVO",
"LIMONAL",
"JUAN BAUTISTA AGUIRRE",
"LAS LOJAS",
"EL LAUREL",
"LA AURORA",
"MAGRO",
"BALZAR",
"CHOBO",
"MARISCAL SUCRE/HUAQUES",
"ROBERTO ASTUDILLO",
"TARIFA",
"SAMBORONDON",
"LA PUNTILLA(SATELITE)",
"GRAL. VERNAZA",
"JUNQUILLAL",
"BOCANA",
"CANDILEJOS",
"SALITRE",
"PARAISO",
"JESUS MARIA",
"SAN CARLOS",
"SANTA ROSA DE FLANDES",
"TAURA",
"NARANJAL",
"NARANJITO",
"PALESTINA",
"VALLE DE LA VIRGEN",
"SABANILLA",
"PEDRO CARBO",
"GRAL.VILLAMIL / PLAYAS",
"CRNEL. LORENZO GARAICOA",
"ELOY ALFARO /DURAN",
"EL RECREO",
"DIVINO NIÑO",
"A.BAQUERIZO M /JUJAN",
"SANTA LUCIA",
"CRNL MARCELINO MARIDUENAS",
"LOMAS DE SARGENTILLO",
"NARCISA DE JESUS",
"GRAL.ELIZALDE /BUCAY",
"ISIDRO AYORA",
"AMBUQUI/CHOTA",
"ANGOCHAGUA",
"CAROLINA /GUALLUPI",
"LA ESPERANZA",
"LITA",
"CARANQUI",
"GUAYAQUIL DE ALPACHACA",
"LA DOLOROSA DEL PRIORATO",
"DR MIGUEL EGAS/PEGUCHE",
"EUGENIO ESPEJO",
"PATAQUI",
"SAN JOSE DE QUICHINCHE",
"SAN JUAN DE ILUMAN",
"SAN PABLO",
"JORDAN",
"APUELA",
"GARCIA MORENO / LLURIMAGUA",
"IMANTAG",
"PEÑAHERRERA",
"PLAZA GUTIERREZ/CALVARIO",
"QUIROGA",
"6 DE JULIO DE CUELLAJE",
"VACAS GALINDO",
"IMBAYA",
"SAN FCO.DE NATABUELA",
"SAN JOSE DE CHALTURA",
"ANDRADE MARIN/LOURDES",
"ATUNTAQUI",
"CHUGA",
"MARIANO ACOSTA",
"SAN FRANCISCO DE SIGSIPAMBA",
"PIMAMPIRO",
"CAHUASQUI",
"LA MERCED DE BUENOS AIRES",
"PABLO ARENAS",
"TUMBABIRO",
"URCUQUI",
"ZONA ESPECIAL ELECTORAL LAS GOLONDRINAS",
"GUAYQUICHUMA",
"SAN PEDRO DE LA BENDITA",
"ZAMBI",
"CATAMAYO",
"LIMONES",
"GARZAREAL",
"MANGAHURCO",
"BOLASPAMBA",
"PALETILLAS",
"CAZADEROS",
"ZAPOTILLO",
"CHUQUIRIBAMBA",
"EL CISNE",
"GUALEL",
"QUINARA",
"JIMBILLA",
"MALACATOS/VALLADOLID",
"SAN LUCAS",
"TAQUIL /MIGUEL RIOFRIO",
"VILCABAMBA/VICTORIA",
"YANGANA / ARSENIO CASTILLO",
"CHANTACO",
"SAN PEDRO DE VILCABAMBA",
"EL SAGRARIO",
"SUMAYPAMBA",
"EL PARAISO DE CELEN",
"EL TABLON",
"LLUZHAPA",
"MANU",
"SAN ANTONIO DE CUMBE",
"SAN PABLO DE TENTA",
"SAN SEBASTIAN DE YULOG",
"URDANETA/PAQUISHAPA",
"SARAGURO",
"CANGONAMA",
"CASANGA",
"YAMANA",
"GUACHANAMA",
"LAURO GUERRERO",
"ORIANGA",
"CATACOCHA",
"LOURDES",
"LA TINGUE",
"OLMEDO",
"CRUZPAMBA/BUSTAMANTE",
"TNTE M.RODRIGUEZ LOAYZA",
"SAN JUAN DE POZUL",
"CELICA",
"COLAIZACA",
"EL LUCERO",
"SANGUILLIN",
"UTUANA",
"CARIAMANGA",
"CHILE",
"LA RAMA",
"SABIANGO",
"GRAL.ELOY ALFARO",
"MACARA",
"EL ARENAL",
"CIANO",
"EL LIMO /MARIANA DE JESUS",
"MERCADILLO",
"VICENTINO",
"ALAMOR",
"CHANGAIMINA /LA LIBERTAD",
"NAMBACOLA",
"PURUNUMA /EGUIGUREN",
"SACAPALCA",
"GONZANAMA",
"EL AIRO",
"JIMBURA",
"SANTA TERESITA",
"27 DE ABRIL /LA NARANJA",
"NUEVA FATIMA",
"TACAMOROS",
"SOZORANGA",
"CHAQUINAL",
"12 DE DICIEMBRE",
"MILAGROS",
"PINDAL /FEDERICO PAEZ",
"FUNDOCHAMBA",
"SAN ANTONIO DE LAS ARADAS",
"QUILANGA /LA PAZ",
"AMARILLOS",
"SANTA RUFINA",
"CHAGUARPAMBA",
"CARACOL",
"PIMOCHA",
"CLEMENTE BAQUERIZO",
"DR. CAMILO PONCE E.",
"BARREIRO /SANTA RITA",
"EL SALTO",
"VALENCIA",
"GUARE",
"ISLA DE BEJUCAL",
"BABA",
"ANTONIO SOTOMAYOR",
"VINCES",
"PUERTO PECHICHE",
"PUEBLO VIEJO",
"CATARAMA",
"QUEVEDO",
"SAN CAMILO",
"VENUS DEL RIO QUEVEDO",
"NICOLAS INFANTE DIAZ",
"GUAYACAN",
"SIETE DE OCTUBRE",
"VIVA ALFARO",
"24 DE MAYO",
"ZAPOTAL",
"LOS ANGELES",
"CHACARITA",
"VENTANAS",
"42684",
"QUINSALOMA",
"LA ESMERALDA",
"MONTALVO /SABANETA",
"PALENQUE",
"PATRICIA PILAR",
"SN JACINTO DE BUENA FE",
"MOCACHE",
"NOVILLO",
"ZAPALLO",
"FLAVIO ALFARO",
"ABDON CALDERON",
"ALHAJUELA /BAJO GRANDE",
"CRUCITA",
"CHIRIJOS",
"PUEBLO NUEVO",
"RIO CHICO",
"SAN PLACIDO",
"ANDRES DE VERA",
"COLON",
"12 DE MARZO",
"PORTOVIEJO",
"PICOAZA",
"18 DE OCTUBRE",
"FRANCISCO PACHECO",
"LA PILA",
"MONTECRISTI",
"ANIBAL SAN ANDRES",
"COLORADO",
"LEONIDAS PROAÑO",
"GENERAL ELOY ALFARO DELGA",
"JARAMIJO",
"SANTA MARIANITA",
"LOS ESTEROS",
"MANTA",
"ELOY ALFARO",
"AMERICA /LA CERA",
"EL ANEGADO",
"JULCUY",
"PEDRO PABLO GOMEZ",
"PUERTO CAYO",
"MEMBRILLAL",
"JIPIJAPA",
"DR. MIGUEL MORAN LUCIO",
"MANUEL INOCENCIO PARRALES",
"SAN LORENZO DE JIPIJAPA",
"ARQ.SIXTO DURAN BALLEN",
"NOBOA",
"LODANA",
"CHARAPOTO",
"BAHIA DE CARAQUEZ",
"LEONIDAS PLAZA G.",
"JAMA",
"CANOA",
"BOYACA",
"CHIBUNGA",
"CANUTO",
"CONVENTO",
"SAN ANTONIO / DEL PELUDO",
"CHONE",
"MEMBRILLO",
"CALCETA",
"JUNIN",
"CAMPOZANO",
"CASCOL",
"GUALE/STO.DOMINGO",
"LASCANO",
"PAJAN",
"WILFRIDO LOOR MOREIRA",
"SAN PEDRO DE SUMA",
"4 DE DICIEMBRE",
"BACHILLERO",
"ANGEL PEDRO GILER",
"TOSAGUA",
"BARRAGANETE",
"PICHINCHA /GERMUD",
"COJIMIES",
"ATAHUALPA",
"10 DE AGOSTO",
"PEDERNALES",
"OLMEDO /PUCA",
"SALANGO",
"MACHALILLA",
"PUERTO LOPEZ",
"ZONA ESPECIAL ELECTORAL LA MANGA DEL CURA",
"ALSHI /9 DE OCTUBRE",
"CUCHAENTZA",
"GRAL. PROAÑO",
"RIO BLANCO",
"SEVILLA DON BOSCO",
"ZUNAC",
"SINAI",
"MACAS",
"AMAZONAS",
"BERMEJOS",
"BOMBOIZA",
"CHIGUINDA",
"EL IDEAL",
"NUEVA TARQUI",
"ROSARIO",
"SAN MIGUEL DE CUYES",
"GUALAQUIZA",
"MERCEDES MOLINA",
"INDANZA",
"SAN MIGUEL DE CONCHAY",
"SANTA SUSANA DE CHIVIAZA",
"YUNGANZA /EL ROSARIO",
"GRAL. LEONIDAS PLAZA",
"COPAL",
"CHUPIANZA",
"SAN FCO. DE CHINIMBIMI",
"PATUCA",
"SAN LUIS DEL ACHO",
"TAYUZA",
"MENDEZ",
"SANTA MARIANITA DE JESUS",
"HUAMBI",
"SUCUA",
"SHIMPIS",
"YAUPI",
"LOGROÑO",
"ARAPICOS",
"16 DE AGOSTO",
"SANGAY",
"PALORA",
"CHIGUAZA",
"HUAMBOYA",
"PABLO SEXTO",
"SAN JOSE DE MORONA",
"SAN JACINTO DE WAKAMBEIS",
"SANTIAGO DE PANANZA",
"PAN DE AZUCAR",
"SAN CARLOS DE LIMON",
"SAN JUAN BOSCO",
"HUASAGA /WAMPUIK",
"TUTINENTZA",
"MACUMA",
"PUMPUENTSA",
"TAISHA",
"GONZALO DIAZ DE PINEDA",
"LINARES",
"OYACACHI",
"SANTA ROSA DE QUIJOS",
"SARDINAS",
"EL CHACO",
"AHUANO",
"CHONTAPUNTA",
"TALAG",
"PANO",
"PUERTO MISAHUALLI",
"PUERTO NAPO",
"SAN JUAN DE MUYUNA",
"TENA",
"CARLOS J. AROSEMENA TOLA",
"COSANGA",
"CUYUJA",
"PAPALLACTA",
"SAN FRANCISCO DE BORJA",
"SUMACO",
"BAEZA",
"COTUNDO",
"SAN PABLO DE USHPAYACU",
"HATUN SUMAKU",
"ARCHIDONA",
"CANELOS",
"FATIMA",
"MONTALVO/ANDOAS",
"POMONA",
"RIO CORRIENTES",
"RIO TIGRE",
"ZARAYACU",
"TNTE. HUGO ORTIZ",
"VERACRUZ",
"PUYO",
"MADRE TIERRA",
"SHELL",
"MERA",
"SANTA CLARA",
"CURARAY",
"ARAJUNO",
"ALANGASI",
"AMAGUAÑA",
"ATAHUALPA /HABASPAMBA",
"CALACALI",
"CONOCOTO",
"CUMBAYA",
"CHAVEZPAMBA",
"CHECA",
"GUALEA",
"GUANGOPOLO",
"GUAYLLABAMBA",
"LA MERCED",
"LLANO CHICO",
"LLOA",
"NANEGAL",
"NANEGALITO",
"NAYON",
"NONO",
"PACTO",
"PERUCHO",
"PIFO",
"PINTAG",
"POMASQUI",
"PUELLARO",
"PUEMBO",
"QUINCHE",
"SAN JOSE DE MINAS",
"TABABELA",
"TUMBACO",
"YARUQUI",
"ZAMBIZA",
"CHIMBACALLE",
"COTOCOLLAO",
"CHILLOGALLO",
"LA MAGDALENA",
"CARCELEN",
"CENTRO HISTORICO",
"COMITE DEL PUEBLO",
"CHILIBULO",
"EL CONDADO",
"GUAMANI",
"IÑAQUITO",
"ITCHIMBIA",
"KENNEDY",
"LA ARGELIA",
"LA ECUATORIANA",
"LA FERROVIARIA",
"LA MENA",
"PONCEANO",
"PUENGASI",
"QUITUMBE",
"RUMIPAMBA",
"SAN BARTOLO",
"SAN ISIDRO DEL INCA",
"SOLANDA",
"TURUBAMBA",
"ASCAZUBI",
"CANGAHUA",
"OLMEDO/PESILLO",
"OTON",
"STA.ROSA DE CUSUBAMBA",
"SAN JOSE DE AYORA",
"CAYAMBE",
"ALOAG",
"ALOASI",
"CORNEJO ASTORGA /TANDAPI",
"CUTUGLAGUA",
"CHAUPI",
"UYUMBICHO",
"MACHACHI",
"MALCHINGUI",
"TOCACHI",
"TUPIGACHI",
"TABACUNDO",
"COTOGCHOA",
"SANGOLQUI",
"SAN PEDRO DE TABOADA",
"MINDO",
"S. MIGUEL DE LOS BANCOS",
"PEDRO VICENTE MALDONADO",
"PUERTO QUITO",
"QUINCHICOTO",
"TISALEO",
"AMBATILLO",
"ATAHUALPA /CHIPZALATA",
"AUGUSTO N MARTINEZ",
"CONSTANTINO FERNANDEZ",
"CUNCHIBAMBA",
"UNAMUNCHO",
"HUACHI GRANDE",
"IZAMBA",
"JUAN BENIGNO VELA",
"MONTALVO",
"PASA",
"PICAYHUA",
"PILAHUIN",
"QUISAPINCHA",
"TOTORAS",
"ATOCHA FICOA",
"CELIANO MONGE",
"HUACHI LORETO",
"HUACHI CHICO",
"LA PENINSULA",
"PISHILATA",
"BENITEZ /PACHANLICA",
"COTALO",
"CHIQUICHA",
"EL ROSARIO /RUMICHACA",
"HUAMBALO",
"SALASACA",
"PELILEO",
"PELILEO GRANDE /R. MINO",
"BAQUERIZO MORENO",
"EMILIO MARIA TERAN",
"MARCOS ESPINEL",
"PRESIDENTE URBINA",
"SAN JOSE DE POALO",
"SAN MIGUELITO",
"CIUDAD NUEVA",
"PILLARO",
"LLIGUA",
"RIO NEGRO",
"ULBA",
"PATATE",
"YANAYACU MOCHAPATA",
"QUERO",
"CEVALLOS",
"PINGUILI",
"MOCHA",
"ZURMI",
"NUEVO PARAISO",
"GUAYZIMI",
"CUMBARATZA",
"GUADALUPE",
"SAN CARLOS DE LAS MINAS",
"LA VICTORIA DE IMBANA",
"TIMBARA",
"ZAMORA",
"EL LIMON",
"CHITO",
"EL CHORRO",
"LA CHONTA",
"PUCAPAMBA",
"ZUMBA",
"EL PORVENIR DEL CARMEN",
"LA CANELA",
"VALLADOLID",
"SAN FRANCISCO DEL VERGEL",
"PALANDA",
"TUTUPALI",
"28 DE MAYO",
"CHICANA",
"LOS ENCUENTROS",
"YANZATZA",
"EL GUISMI",
"TUNDAYME",
"PACHICUTZA",
"EL PANGUI",
"TRIUNFO DORADO",
"PANGUINTZA",
"ZUMBI",
"NUEVO QUITO",
"PAQUISHA",
"ISLA SANTA MARIA",
"PTO. BAQUERIZO MORENO",
"BELLA VISTA",
"PUERTO AYORA",
"TOMAS DE BERLANGA",
"PUERTO VILLAMIL",
"DURENO",
"EL ENO",
"PACAYACU",
"GENERAL FARFAN",
"SANTA CECILIA",
"NUEVA LOJA",
"CUYABENO",
"AGUAS NEGRAS",
"TARAPOA",
"EL PLAYON DE SN. FRANCISCO",
"LA SOFIA",
"ROSA FLORIDA",
"SANTA BARBARA",
"LA BONITA",
"PALMA ROJA",
"PUERTO RODRIGUEZ",
"SANTA ELENA",
"EL CARMEN DE PUTUMAYO",
"SAN PEDRO DE LOS COFANES",
"SIETE DE JULIO",
"LIMONCOCHA",
"PANACOCHA",
"SHUSHUFINDI CENTRAL",
"SANTA ROSA DE SUCUMBIOS",
"EL DORADO DE CASCALES",
"EL REVENTADOR",
"GONZALO PIZARRO",
"PUERTO LIBRE",
"LUMBAQUI",
"CAP. AUGUSTO RIVADENEIRA",
"CONONACO",
"STA. MARIA DE HUIRIRIMA",
"YASUNI",
"NUEVO ROCAFUERTE",
"TIPUTINI",
"DAYUMA",
"TARACOA",
"EL DORADO",
"INES ARANGO",
"EL EDEN",
"LA BELLEZA",
"SAN LUIS DE ARMENIA",
"SAN JOSE DE GUAYUSA",
"ALEJANDRO LABAKA",
"PTO. FCO. DE ORELLANA",
"ENOKANQUI",
"TRES DE NOVIEMBRE",
"LAGO SAN PEDRO",
"UNION MILAGREÑA",
"POMPEYA",
"SAN SEBASTIAN DE COCA",
"LA JOYA DE LOS SACHAS",
"AVILA",
"SAN VICENTE DE HUATICOCHA",
"PUERTO MURIALDO",
"SAN JOSE DE DAHUANO",
"SAN JOSE DE PAYAMINO",
"LORETO",
"ALLURIQUIN",
"VALLE HERMOSO",
"LUZ DE AMERICA",
"SAN JACINTO DEL BUA",
"EL ESFUERZO",
"SANTA MARIA DEL TOACHI",
"PUERTO LIMON",
"ABRAHAM CALAZACON",
"BOMBOLI",
"RIO TOACHI",
"SANTO DOMINGO",
"CHIGUILPE",
"ZARACAY",
"MONTERREY",
"LA VILLEGAS",
"PLAN PILOTO",
"LA CONCORDIA",
"ANCONCITO",
"JOSE LUIS TAMAYO / MUEY",
"GRAL. A. E. GALLO",
"VICENTE ROCAFUERTE",
"CARLOS ESPINOZA LARREA",
"COLONCHE",
"CHANDUY",
"SAN JOSE DE ANCON",
"MANGLARALTO",
"BALLENITA",
"C. E. EN BERLIN",
"C. E. EN HAMBURGO",
"C. E. EN CAMBERRA",
"C. E. EN VIENA",
"C. E. EN BRUSELAS",
"C. E. EN SEUL",
"C. E. EN BEIJING",
"C. E. EN SHANGAI",
"C. E. EN GUANZHOU",
"C. E. EN PALMA DE MALLORCA",
"C. E. EN BARCELONA",
"C. E. EN MADRID",
"C. E. EN VALENCIA",
"C. E. EN MURCIA",
"C. E. EN MALAGA",
"C. E. EN ALICANTE",
"C. E. EN PARIS",
"C. E. EN LONDRES",
"C. E. EN BUDAPEST",
"C. E. EN NUEVA DELHI",
"C. E. EN TEL AVIV",
"C. E. EN MILAN",
"C. E. EN GENOVA",
"C. E. EN ROMA",
"C. E. EN TOKIO",
"C. E. EN LA HAYA",
"C. E. EN ESTOCOLMO",
"C. E. EN BERNA",
"C. E. EN MOSCU",
"C. E. EN YAKARTA",
"C. E. EN KUALA LUMPUR",
"C. E. EN ANKARA",
"C. E. EN TEHERAN",
"C. E. EN DOHA",
"C. E. EN BELARÚS",
"C. E. EN MONTREAL",
"C. E. EN TORONTO",
"C. E. EN OTTAWA",
"C. E. EN CHICAGO",
"C. E. EN MIAMI",
"C. E. EN NUEVA YORK",
"C. E. EN WASHINGTON",
"C. E. EN LOS ANGELES",
"C. E. EN CONNECTICUT",
"C. E. EN HOUSTON",
"C. E. EN NEW JERSEY",
"C. E. EN MINNEAPOLIS",
"C. E. EN ATLANTA",
"C. E. EN PHOENIX",
"C. E. EN BUENOS AIRES",
"C. E. EN LA PAZ",
"C. E. EN BRASILIA",
"C. E. EN SAO PAULO",
"C. E. EN RIO DE JANEIRO",
"C. E. EN BOGOTA",
"C. E. EN IPIALES",
"C. E. EN SAN JOSE",
"C. E. EN LA HABANA",
"C. E. EN SANTIAGO",
"C. E. EN SAN SALVADOR",
"C. E. EN GUATEMALA",
"C. E. EN TEGUCIGALPA",
"C. E. EN MEXICO",
"C. E. EN TAPACHULA",
"C. E. EN MONTERREY",
"C. E. EN MANAGUA",
"C. E. EN PANAMA",
"C. E. EN ASUNCION",
"C. E. EN LIMA",
"C. E. EN TUMBES",
"C. E. EN EL CAIRO",
"C. E. EN SANTO DOMINGO",
"C. E. EN MONTEVIDEO",
"C. E. EN CARACAS",
"C. E. EN PRETORIA"

	];
	
	var zona = [
		"BAÑOS",
"COCHAPAMBA",
"CHAUCHA /ANGAS",
"SAN ANTONIO",
"CEDRO",
"CASCAJO",
"MOLLETURO",
"JESUS DEL GRAN PODER",
"ZHAGAL",
"SAN JOSE DE RECREO",
"TAMARINDO",
"AGUAS CALIENTES",
"ESTERO PIEDRA",
"ABDON CALDERÓN",
"FLOR Y SELVA",
"MULTI / NULTI",
"CHALLUABAMBA NULTI",
"QUINGEO",
"MONJAS",
"SAN JOAQUIN",
"BARABON",
"SAYAUSI",
"SAN MIGUEL",
"BELLAVISTA",
"SIDCAY",
"BIBIN",
"ALTOS DE MACHANGARA",
"SININCAY",
"CRUCE DEL CARMEN",
"TARQUI",
"TUTUPALI BAJO",
"VALLE",
"CHILCAPAMBA",
"GUALALCAY",
"MACHÁNGARA",
"CAPULISPAMBA",
"CHALLUABAMBA MACHANGARA",
"HERMANO MIGUEL",
"UNCOVIA",
"LA ASUNCION",
"LENTAG",
"CHICAN /G ORTEGA",
"UZHUPUD",
"DUG - DUG",
"LAZUL",
"GUARAINAC",
"JUNTAS",
"SAN CRISTOBAL",
"GUACHUN",
"PAUTE",
"VILLAFLOR",
"ZHUMIR",
"LUDO",
"BUENA VISTA",
"HATOBOLO",
"SAN BARTOLOMÉ",
"LA LIBERTAD",
"SAN JOSE DE RARANGA",
"LA ESMERALDA",
"SIGSIG",
"PIRUNCAY",
"SHAGLLI",
"HUERTAS",
"SANTA ISABEL",
"JUBONES",
"PUCARA",
"SARAYUNGA",
"GRAMALOTE",
"CERRO NEGRO",
"PELINCAY",
"CALIGUIÑA",
"LA DOLOROSA",
"LAS PALMAS",
"SANTA CECILIA",
"CAMILO PONCE ENRIQUEZ",
"ZHUMIRAL",
"SAN ALFONSO",
"SANTA MARTHA",
"OÑA",
"MORAS LOMA",
"COCHAPATA",
"ÑAMARIN",
"LAS NIEVES",
"LA PAZ",
"NABON",
"ZHIÑA",
"RAÑAS",
"CHUNASANA",
"AMALUZA",
"SANTA RITA",
"PALMAS",
"JURUPILLOS",
"SANTA ROSA",
"SEVILLA DE ORO",
"CAIGUAS",
"CHIMUL",
"SAN VICENTE",
"LA MERCED",
"SANTA TERESITA",
"GUACHAPALA",
"SACRE",
"SAN LUIS DE PAMBIL",
"SAN FERNANDO",
"FACUNDO VELA",
"JILIMBÍ",
"EL PORVENIR",
"JULIO MORENO",
"RODEOPAMBA",
"SALINAS",
"LA PALMA",
"CHAZOJUAN",
"SAN SIMON",
"GRADAS",
"SIMIATUG",
"MINDINA",
"SANTA TERESA",
"INGAPIRCA",
"TALAHUA",
"GUANUJO",
"GUACHANA",
"SAN JUAN DE LLULLUNDONGO",
"CUATRO ESQUINAS",
"PACHAKUTIK",
"TELIMBELA",
"UNION DE TIANDIAGOTE",
"BILOVAN",
"LAS GUARDIAS",
"MATAPALO",
"SAN PABLO DE ATENAS",
"GUAMALÁN",
"SANTIAGO",
"TOTORAS",
"QUISACOTO",
"SAN JOSE DE TAMBO",
"STA ROSA DE AGUA CLARA",
"ANGELICA",
"VALPARAISO",
"JUNTA NUEVA",
"CHILLANES",
"ACHIN",
"PALMIRA",
"SAN VICENTE DE POROTOPAMBA",
"SAN JOSÉ DE GUAYABAL",
"ARRAYANPAMBA",
"SANTA ROSA DE CERRITOS",
"ECHEANDIA",
"SABANETILLAS",
"CALUMA /SAN ANTONIO",
"PASAGUA",
"YATUVI",
"SAN PABLO DE PITA",
"LAS NAVES",
"JERUSALEN",
"GUAPAN",
"ZHINDILIG",
"JAVIER LOYOLA / CHUQUIPATA",
"AYANCAY",
"PINDILIG",
"SHAL",
"CHONTAMARCA",
"CIMIENTOS",
"GUALLETURO",
"PURUBIN",
"GER",
"SHUYA",
"SISID",
"DUCUR",
"JAVIN",
"JUNCAL",
"CHARCAY",
"ZHUCAY",
"CARGUA",
"MANTA REAL",
"MANUEL J CALLE",
"SAN ISIDRO",
"PANCHO NEGRO",
"LA PUNTILLA",
"LA TRONCAL",
"VOLUNTAD DE DIOS",
"COCHANCAY",
"EL TAMBO",
"MARIA AUXILIADORA",
"DELEG",
"BAYANDEL",
"EL CHICAL",
"SAN MARCOS",
"TOBAR DONOSO",
"EL BABOSO",
"GONZALEZ SUAREZ",
"CHAPUEL",
"EL BOSQUE",
"TULCAN",
"LA ESTRELLITA",
"LAS GRADAS",
"FERNANDEZ SALVADOR",
"SAN FRANCISCO DE LA LINEA ROJA",
"SAN JOSE",
"EL CAPULÍ",
"CANCHAGUANO",
"EL GOALTAL / LAS JUNTAS",
"CORAZON DE MUNDO NUEVO",
"EL ANGEL",
"INGUEZA",
"JIJON Y CAAMAÑO",
"RIO VERDE",
"JUAN MONTALVO",
"SANTIAGUILLO",
"LA CONCEPCION",
"PALO BLANCO",
"MIRA",
"MASCARILLA",
"HATO DE MIRA",
"SAN RAFAEL",
"CALDERA",
"GARCIA MORENO",
"LOS ANDES",
"PIQUIUCHO",
"CUNQUER",
"MONTEOLIVO",
"PUEBLO NUEVO",
"SAN VICENTE DE PUSIR",
"PUSIR GRANDE",
"TUMBATÚ",
"BOLIVAR",
"ALOOR",
"CUESACA",
"HUACA",
"CUASPUD",
"SAN JUAN DE PASTOCALLE",
"ANGAMARCA",
"CHINE ALTO",
"MOCATA",
"PIGUA-QUINDIGUA",
"GUANGAJE",
"YAGUARTOA",
"PILALO",
"APAGUA",
"TINGO",
"EL PROGRESO",
"PUEMBO",
"ZUMBAHUA",
"LA COCHA",
"TIGUA WANAPAMPA",
"PUJILI",
"JUIGUA YACYBAMBA",
"SAN MIGUEL DE SALCEDO",
"CHAMBAPONGO",
"YANAHURCO GRANDE",
"MORASPUNGO",
"GUAPARA",
"PIEDACITA",
"EL DESEO",
"CALABICITO",
"EL CORAZON",
"QUISHPE",
"GUASAGANDA",
"QUINDIGUA",
"MALQUI",
"EL TRIUNFO",
"CHIPE HAMBURGO 1",
"CHIPE HAMBURGO 2",
"ESTERO HONDO",
"CHUGCHILAN",
"GUAYAMA SAN PEDRO QUILOTOA",
"SARAWASI",
"SAN MIGUEL DE PILAPUCHIN",
"SAN MIGUEL DE GUARUMAL",
"ISINLIVI",
"GUANTOALO",
"SIGCHOS",
"SALINAS DE MONTE NUEVO",
"CALPI",
"NITILUISA",
"FLORES",
"GUANTUL GRANDE",
"NAUBUG",
"LICTO",
"TUNSHI SAN NICOLAS",
"PUNGALA",
"ALAO",
"ASHPAPUNGO",
"PUNIN",
"TZALARON",
"QUIMIAG",
"PIÑAÑAU",
"PUCULPALA",
"SAN LUIS",
"SAN ANTONIO DE GUASLAN",
"SAN ANDRES",
"CALSHI",
"SAN ISIDRO DE PATULU",
"CHOCAVI",
"LA MATRIZ",
"PUNGAL GRANDE",
"COLUMBE",
"PULUCATES",
"LLINLLIN",
"SAN GUISEL ALTO",
"JUAN DE VELASCO",
"TAMBILLO BAJO",
"CEBADAS",
"TRANCA SAN LUIS",
"TIPIN",
"GALTES",
"GUAMOTE",
"PULL CHICO",
"JATUN PAMBA",
"ACHUPALLAS",
"JUVAL",
"TIXAN",
"COCANES",
"ALAUSI",
"NIZAG",
"LLAGOS",
"JOYAGSHI",
"PALLATANGA",
"LAS ROSAS",
"CUMANDA",
"LA ISLA",
"SUNCAMAL",
"EL RETIRO",
"NUEVA ESPERANZA",
"GUARUMAL 2",
"LA PROVIDENCIA",
"RAYITO DE LUZ",
"LA IBERIA",
"9 DE MAYO",
"CORRALITOS",
"KM 15",
"EL CAMBIO",
"LA UNION COLOMBIANA",
"JAMBELI",
"CIUDADELA 10 DE SEPTIEMBRE",
"SAN AGUSTIN",
"BELLAMARIA",
"VALLE HERMOSO",
"PONGALILLO-LAS CASITAS",
"LAS HUACAS",
"LAGUNA DE CAÑAS",
"LA VICTORIA",
"RIO NEGRO",
"TORATA",
"EL GUAYABO",
"ABANIN",
"DALIGSHI",
"TUNUYUNGA",
"GUANAZAN",
"GUARTIGURO",
"PROGRESO",
"GALAYACU",
"LA CADENA",
"ROSA DE ORO",
"MUYUYACU",
"LA PLAYA",
"RÁJARO",
"DUCOS",
"CAPIRO",
"GUERRAS",
"TINAJAS",
"LOS AMARILLOS",
"SARACAY",
"CAMARONES",
"LAS ORQUIDEAS",
"MOROMORO",
"PALO SOLO",
"PIEDRAS",
"EL CARMEN",
"PALMALES",
"MANABI DE EL ORO",
"ARENILLAS",
"LA CUCA",
"RIO BONITO",
"SAN MIGUEL DE BRAZIL",
"PAGUA",
"TENDALES",
"BAJO ALTO",
"EL GUABO",
"TILLALES",
"CHILLA",
"PLAYAS DE DAUCAY",
"PEJEYACU",
"DUMARI",
"EL PARAISO",
"EL TIGRE 1",
"PUYANGO DE LA LIBERTAD",
"SAN MATEO",
"TIMBRE",
"5 DE AGOSTO",
"PROPICIA 1",
"PROPICIA 4",
"SIMON PLATA TORRES",
"VALLE DE SAN RAFAEL",
"CASA BONITA",
"LA TOLITA",
"CHUMUNDE",
"CAPULÍ",
"MARIBÉ",
"RASCADERA",
"LAGARTO",
"BOCANA DEL LAGARTO",
"VAINILLA",
"ROCAFUERTE",
"CHUNGUILLO",
"CABUYAL",
"ATAHUALPA/CAMARONES",
"SAN JOSE DE CAYAPAS",
"PICHIYACU CHACHI",
"LA TOLA",
"SAN PEDRO",
"SAN FRANCISCO DE ONZOLE",
"ZANCUDO",
"SELVA ALEGRE",
"PALMA REAL",
"TELEMBI",
"LOMA LINDA",
"CORRIENTE GRANDE",
"JEYAMBI",
"SANTO DOMINGO DE ONZOLE",
"COLON DE ONZOLE",
"CHACHI CAPULÍ",
"CHACHI GUALPÍ DE ONZOLE",
"HOJAS BLANCAS",
"HOJAS BLANCAS CHACHI",
"DAULE",
"PEDRO CARBO",
"GALERA",
"ESTERO DE PLATANO",
"SAN FRANCISCO",
"EL SALTO",
"SAN GREGORIO",
"BALSALITO",
"BOCA DEL SUCIO",
"TRES VIAS",
"SAN SALVADOR CHACHI",
"MUISNE",
"MOMPICHE",
"NUEVO MUISNE",
"CHURA",
"UNION MANABITA",
"LA UNION",
"LA INDEPENDENCIA",
"LIBERTAD DE PLAYA",
"BOCANA DEL BUA",
"MATAMBA",
"EL SILENCIO",
"NUEVO AZUAY",
"LA VIRGENCITA",
"MALIMPIA /GUAYLLABAMBA",
"AGUA CLARA",
"EL RECREO",
"LA T",
"NARANJAL DE LOS CHACHIS",
"VALLE DEL SADE",
"RONCA TIGRILLO",
"VALLE ESMERALDEÑO",
"ZAPALLO",
"CRISTOBAL COLON",
"GUAYACANA",
"LAS PAVAS",
"AGUA CLARA CHACHI",
"ROSA ZARATE",
"LA SEXTA",
"SAN RAMON",
"LA Y DE LA LAGUNA DE HERRERA",
"HERRERA",
"CUPA",
"NUEVO QUININDÉ",
"ALTO TAMBO /GUADAL",
"CRISTAL ALTO",
"ANCON/PALMA REAL",
"CAUCHAL",
"CARONDELET",
"LA BOCA",
"CONCEPCION",
"GUAYABAL",
"19 DE MARZO",
"MATAJE",
"MATAJE ALTO",
"SAN JAVIER DE CACHABI",
"CHILLAVI DEL CEIBO",
"SAN FRANCISCO DE BOGOTA",
"TAMBILLO",
"TULULBI /RICAURTE",
"LA CEIBA",
"CENTRO AWA PAMBILAR",
"CENTRO AWA GUADUALITO",
"TONSUPA",
"TASECHE",
"TONCHIGUE",
"QUITITO",
"SAME",
"ATACAMES",
"ESTERO DEL MEDIO",
"CHONE",
"BALAO",
"CIEN FAMILIAS",
"SAN JACINTO",
"LONDON",
"POTRERITOS",
"GUAYAS / PUERTO NUEVO",
"DAULE - PERIPA",
"VELASCO IBARRA",
"ATILIO VÉLEZ",
"29 DE OCTUBRE",
"PUNA",
"CAUCHICHE",
"FEBRES CORDERO",
"ABEL GILBERT",
"BARRIO PUERTO LISA",
"BATALLÓN DEL SUBURBIO",
"CDLA EL CISNE",
"COOP 23 DE ABRIL",
"CUARTEL CUATRO",
"DIOS PATRIA Y LIBERTAD",
"ESTERO SALADO",
"HOSPITAL SANTA MARIANITA DE JESÚS",
"LA COLMENA",
"PUERTO LISA",
"TEODORO WOLF",
"VIRGEN DE FATIMA",
"GUAYAQUIL",
"LETAMENDI",
"4 DE NOVIEMBRE",
"VIRGEN DEL SOTO",
"ACUARELA - SAUCES",
"ALBORADA",
"ATARAZANA",
"CHONGON",
"LOS CEIBOS",
"COLINAS DE LA FLORIDA",
"MARTHA ROLDOS",
"EL CONDOR",
"LA PROSPERINA",
"URDESA",
"QUINTO GUAYAS",
"SAN EDUARDO",
"URDENOR",
"NUEVA PROSPERINA",
"VÍA A LA COSTA",
"SABANA GRANDE",
"CONSUELO",
"MAPASINGUE",
"LOMAS DE LA FLORIDA",
"SAUCES OESTE",
"SAMANES",
"ALBORADA OESTE",
"ALBORADA ESTE",
"GUAYACANES",
"KENNEDY",
"MIRAFLORES",
"BELAVISTA-FERROVIARIA",
"XIMENA",
"LOS ESTEROS - JACOBO BUCARAM",
"LA GUANGALA",
"FERTISA",
"HUANCAVILCA - LAS MALVINAS",
"ISLA TRINITARIA",
"PRADERA",
"LOS ALMENDROS - SAIBA",
"GUASMO SUR",
"GUASMO CENTRAL Y NORTE",
"FLORESTA",
"GUAYAS Y QUIL",
"PASCUALES",
"BASTIÓN POPULAR",
"EL PARAISO DE LA FLOR - EL FORTIN",
"LAS ORQUIDEAS - MUCHO LOTE",
"LOS VERGELES",
"MONTEBELLO",
"FLOR DE BASTIÓN",
"METROPOLIS",
"PUENTE LUCIA",
"YAGUACHI NUEVO",
"CENTENARIO",
"BALZAR",
"LA GUAYAQUIL",
"MILAGRO",
"CRNL ENRIQUE VALDEZ",
"ESTATAL",
"ERNESTO SEMINARIO",
"OTTO AROSEMENA",
"CHIRIJOS",
"CAMILO ANDRADE",
"MILAGRO NORTE",
"DIEZ DE AGOSTO",
"SAMBORONDON",
"EL ROSARIO",
"LA PUNTILLA(SATELITE)",
"LA PUNTILLA NORTE",
"JUNQUILLAL",
"EL LAUREL DE SALITRE",
"NARANJITO",
"VILLAO",
"PLAYAS",
"DATA DE VILLAMIL",
"ENGABAO",
"PLAYAS NORTE",
"CRNEL LORENZO GARAICOA",
"INÉS MARIA",
"ELOY ALFARO / DURAN",
"LOS HELECHOS",
"PANORAMA",
"YAMILE",
"ROSA ELVIRA",
"LOS ANGELES",
"UNA SOLA FUERZA",
"ELOY ALFARO NORTE",
"LA LOMA",
"DIVINO NIÑO",
"SECAP",
"HÉCTOR COBOS",
"SANTA LUCIA",
"EL LIMON",
"LAS GABARRAS",
"NARCISA DE JESUS",
"PETRILLO",
"AMBUQUI / CHOTA",
"CHOTA",
"CARPUELA",
"CHAUPI GUARANGUI",
"SAN CLEMENTE",
"ANGOCHAGUA",
"ZULETA",
"CAROLINA /GUALLUPI",
"CUAJARA",
"TANGUARIN",
"SANTO DOMINGO",
"LA COMPANIA",
"LOS SOLES",
"SAGRARIO",
"MANZANO GUARANGUI",
"PIJAL ALTO",
"SAN JOSE DE QUICHINCHE",
"INGUINCHO",
"SAN PABLO",
"EL TOPO",
"JORDAN",
"GARCIA MORENO /LLURIMAGUA",
"LA MADGALENA BAJA",
"EL CHONTAL",
"CIELO VERDE",
"IMANTAG",
"PIÑAN",
"PEÑAHERRERA",
"EL CRISTAL",
"NANGULVI BAJO",
"CHUGA",
"SAN FRANCISCO DE LOS PALMARES",
"SAN FCO SIGSIPAMBA",
"SHANSHIPAMBA",
"PIMAMPIRO",
"CHALGUAYACO",
"PUEBLO NUEVO DE YUQUIN",
"EL INCA",
"LA MERCED DE BUENOS AIRES",
"PALMIRA DE TOCTEMI - AWA",
"PABLO ARENAS",
"SAN BLAS",
"IRUGUINCHO",
"LAS GOLONDRINAS",
"LA INDEPENDIENTE",
"RUMIÑAHUI",
"CATAMAYO",
"CHICHACA",
"LIMONES",
"TRONCO QUEMADO",
"MANGAHURCO",
"LA LEONERA",
"BOLASPAMBA",
"VEGA ALTA",
"PALETILLAS",
"AÑANCAL",
"CAUCHO GRANDE",
"JIMBILLA",
"JESÚS MARÍA BAJO",
"SAN LUCAS",
"LAS JUNTAS",
"TAQUIL /MIGUEL RIOFRIO",
"CERA",
"SUMAYPAMBA",
"MOSTAZAPAMBA",
"MANU",
"TAGUARCOCHA",
"SAN ANTONIO DE CUMBE",
"CHAMICAL",
"GUELEDEL",
"SAN SEBASTIAN DE YULOG",
"UCHUCAY",
"GUACHANAMA",
"BRAMADEROS",
"EL DULCE",
"LAURO GUERRERO",
"ORIANGA",
"NARANJILLO",
"LOURDES",
"LAS COCHAS",
"SAN VICENTE DEL RIO",
"SABANILLA",
"HIGUERON",
"SAN JUAN DE POZUL",
"POTRERILLOS",
"COLAIZACA",
"CHINCHANGA CENTRO",
"MACARA",
"ALGODONAL",
"CIANO",
"EL LIMO /MARIANA DE JESUS",
"MANGURQUILLO",
"SACAPALCA",
"CRUZ DE YAZAPA",
"LIMON VEGA",
"VEGA GRANDE",
"JIBIRUCHE",
"EL INGENIO",
"GRANADILLO",
"TUNDURAMA",
"TACAMOROS",
"LA DELICIA",
"PANDUANA",
"CHAQUINAL",
"EL PAPAYO",
"12 DE DICIEMBRE",
"CURIACHI",
"MILAGROS",
"EL GUANDO",
"SANTA RUFINA",
"LOZUMBE",
"MATILDE ESTHER",
"PIMOCHA",
"ISABEL MARIA",
"LA VIRGINIA",
"VALENCIA",
"EL VERGEL",
"COSTA AZUL",
"FEDERICO INTRIAGO",
"RIO CHILA",
"COOPERATIVA 6 DE AGOSTO",
"GUARE",
"LA CARMELA",
"CAMPO ALEGRE",
"ANTONIO SOTOMAYOR",
"BAGATELA",
"MACUL",
"ABRAS DE MANTEQUILLA",
"CLARIZA",
"VINCES",
"BALZAR DE VINCES",
"RICAURTE",
"SALAMPE",
"LA INDUSTRIA",
"SAN JOSE DE PIJULLO",
"LA HOJITA",
"POTOSI",
"QUEVEDO",
"QUEVEDO NORTE",
"ZAPOTAL",
"NUEVO ZAPOTAL",
"TARIRA",
"AGUAS FRIAS DE MEDELLIN",
"QUINSALOMA",
"PAMBILAR DE CALOPE",
"PALENQUE",
"JAUNECHE",
"PATRICIA PILAR",
"SN JACINTO DE BUENA FE",
"FUMISA",
"MOCACHE",
"AGUAS FRIAS",
"ALEJO LASCANO",
"NOVILLO",
"SAN AGUSTIN RIO DE LAS VACAS",
"SAN ANTONIO DE TIGRE-PATA DE MULA",
"BOCA DE TIGRE",
"FLAVIO ALFARO",
"LA CRESPA",
"SAN JOSE DE TRIPA DE POLLO",
"LA CODICIA",
"LA LAGUNA DE CUCHARA",
"EL DESCANSO DE LOS ROMEROS",
"LA MATUTINA",
"CRUCITA",
"LOS RANCHOS - ARENALES",
"SAN SILVESTRE",
"SAN PLACIDO",
"ANDRES DE VERA",
"EL FLORON",
"SAN ALEJO",
"URUGUAY",
"COLON",
"PACHINCHE EN MEDIO",
"LOS ÁNGELES",
"12 DE MARZO",
"FORESTAL",
"PORTOVIEJO - PARQUE CENTRAL",
"RAFAEL MARIA MENDOZA",
"18 DE OCTUBRE - COLISEO ELOY ALFARO",
"EL MAESTRO",
"EL PERIODISTA",
"MUNICIPAL",
"FRANCISCO PACHECO",
"FATIMA",
"NUEVO PORTOVIEJO",
"MONTECRISTI",
"LOS BAJOS DE PECHICHE",
"BAJO DE LA PALMA",
"PILE",
"ESTEROS",
"EL PALMAR",
"ALTAGRACIA",
"LA PRADERA",
"MANTA - PEDRO FERMIN",
"UNIVERSIDAD",
"CENTRO DE TARQUI",
"JOCAY",
"MARIA AUXILIADORA NRO 2",
"CENTRO ELOY ALFARO",
"TERESA DE CALCUTA",
"KIWANI",
"LA AURORA",
"PUERTO CAYO",
"CANTA GALLO",
"JIPIJAPA",
"SANCAN",
"EL ESFUERZO",
"NOBOA",
"EL ENCUENTRO",
"SOSOTE",
"EL HIGUERON",
"EL RESBALÓN",
"CHARAPOTO",
"SAN JACINTO - SAN CLEMENTE",
"JAMA",
"LA MOCORA",
"RAMBUCHE",
"CHIBUNGA",
"SAN JUAN DE BUA",
"SAN FRANCISCO DE YAHUILA",
"BOCA DE BARBUDAL",
"SANTA ROSA DE CUCHARA",
"CANUTO",
"SAN PABLO DE TARUGO",
"ELOY ALFARO",
"CUCUY",
"LAS PIEDRAS",
"PAVON",
"SESME",
"COLORADO",
"NUEVO BACHILLERO",
"RIO SANTO",
"LAS GARZAS",
"SAN ANTONIO /DEL PELUDO",
"BARQUERO",
"BRAVOS CHICOS",
"PUEBLITO (RIO GRANDE)",
"PUERTO EL MATE",
"ÑAUSE",
"QUEBRADA DEL BEJUCO",
"CALCETA",
"SAN PABLO DE SEVERINO",
"WILFRIDO LOOR M",
"TEODOMIRO",
"SAN PEDRO DE SUMA",
"PUERTO NUEVO",
"LAS MERCEDES DE AGUAS SUCIA",
"LA BRAMADORA",
"TOSAGUA",
"EL JUNCO",
"CERRO VERDE",
"BOTIJAS AFUERA",
"SAN SEBASTIAN",
"LA AZUCENA",
"BOCA DE CAÑA",
"BARRAGANETE",
"RIO VENDIDO",
"EL DIQUE",
"CABECERA DE RIO SALAZAR",
"PICHINCHA /GERMUD",
"EL AJO",
"COJIMIES",
"BECHE",
"CHEVE ARRIBA",
"LOS ZENGUES",
"CORAZÓN DE BORDONES",
"10 DE AGOSTO",
"PEDERNALES",
"SERRANO",
"CAÑAVERAL DEL NARANJO",
"OLMEDO",
"LA FLORIDA",
"SALANGO",
"LAS TUNAS",
"EL DESCANSO",
"LA 14/EL PARAISO",
"LA PALIZADA",
"SANTA MARIA",
"SEVILLA DON BOSCO",
"SAN LUIS DE ININKIS",
"UUNT WICHIM",
"UUNT SUANTS",
"MUTINTS",
"PANKINTS CUTUCU",
"MIAZAL",
"SHUAR KURINUNKA",
"SAN JOSE DE KUSUIM",
"UCHICH SUANTS",
"TSENKUSH",
"TUYUNTZA NORTE",
"CENTRO NUWENTS",
"UYUNTS",
"NUMPAIM",
"DON BOSCO",
"CHAPIS",
"ANTUASH",
"BOMBOIZA",
"TINK",
"AYANTAS",
"CHUMPIAS",
"MONTERREY",
"SHUAR SAKANAS",
"SHAIME",
"KAYAMAS",
"GUALAQUIZA",
"TUCUMBAZA",
"PROVEEDURIA",
"YANGUZA",
"YUNGUMAS",
"WARINTZA",
"SANTA SUSANA DE CHIVIAZA",
"LA ESPERANZA",
"PUPUNAS",
"SAN FCO DE CHINIMBIMI",
"PANIA",
"YAKUANK",
"PATUCA",
"IPIAKIM",
"ASUNCION",
"SAN JOSE SUR",
"SUNKANTS",
"HUAMBI",
"CUMBATZA",
"SUCUA",
"SAIP",
"SHIMPIS",
"COMUNA GRANDE",
"YAUPI",
"YAAP",
"TUMPAIM",
"SANTIAGO TUKUP",
"OTO AROSEMENA 1",
"SANGAY",
"CHINIMPI",
"CHIGUAZA",
"SAN JUAN",
"SAN JUAN BOSCO",
"SHUAR TUNA CHIWIAS-MARIA AUXILIADORA",
"COOP 5 DE NOVIEMBRE",
"TSEMANTSMAN SAN JOSÉ",
"HUAMBOYA",
"NAMAKIM",
"SHUAR PANKINTS",
"PABLO SEXTO",
"LA OCTAVA",
"SAN JOSE DE MORONA",
"CENTRO CHAU",
"PUERTO MORONA",
"PANINTS",
"KAANK GRANDE",
"RIO AMAZONAS",
"LA UNIÓN",
"TAYUPS",
"SAN CARLOS DE LIMON",
"NUMPATKAIN",
"WAAPIS",
"CALAGLAS",
"HUASAGA /WAMPUIK",
"KAIPTASH",
"ACHUAR WACHIRPAS",
"IPIAK",
"TUTINENTZA",
"TUKUP",
"YAMANUNKA",
"KAPANTINENTSA",
"KUSUIMI",
"SHUAR KASHAI",
"SHIRAMENTSA",
"SHUAR ETSA",
"PUTUNTS",
"JEMPENTS",
"PUKAR",
"PUTUIM",
"SHUAR CHIWIAS",
"SHUAR KAPITIAN",
"LIBERTAD SUR",
"MACUMA",
"YUWINTS",
"MAMAYAK",
"KUSUTKA",
"YAMPUNA NORTE",
"PUMPUENTSA",
"WAZAKENTZA",
"MASHUMARENTZA",
"ACHUAR SAAPAPENTSA",
"SEBASTIAN",
"ACHUAR WICHIM",
"JUYUKAMENTSA",
"TAISHA",
"PIMPINTS",
"SHINKIATAM",
"TINTIUKENTSA",
"SHAINKIAM",
"SASAIMI",
"CANGAIME SUR",
"ISHPINK",
"CANGAIME",
"G DIAZ DE PINEDA",
"SANTA ROSA DE QUIJOS",
"CASCABEL",
"AHUANO",
"CAMPANA COCHA",
"CAMPO COCHA",
"NUEVO PARAISO",
"RIO BLANCO",
"TAMIA URCO",
"SANTA BARBARA",
"CHONTAPUNTA",
"MONDAÑA",
"ÑUCANCHI ALPA",
"CRUZCHICTA",
"GARENO",
"COLONIA LOS RIOS",
"SHIRIPUNO 2",
"MANGO PLAYA",
"FUERZAS UNIDAS",
"SAN ALBERTO DE BELLAVISTA BAJA",
"TALAG",
"ILAYAKU",
"JATUN YAKU",
"PUERTO MISAHUALLI",
"SAN MIGUEL DE PALMERAS",
"VENECIA DERECHA",
"PUERTO NAPO",
"ATAHUALPA",
"CARLOS J AROSEMENA TOLA",
"COTUNDO",
"KM 18",
"SAN PABLO DE USHPAYACU",
"POROTOYACU",
"WAMANÍ",
"WAWA SUMACO",
"PACTO SUMACO",
"CHALLWAYAKU",
"ARCHIDONA",
"CANELOS",
"CHONTOA",
"EL NARANJAL",
"MONTALVO /ANDOAS",
"KAPAWI",
"CHARAPACOCHA",
"BUFEO",
"KURINTZA",
"WUAYUSENTSA",
"NUMBAIMI",
"MAKUSAR",
"TINKIAS",
"RIO TIGRE",
"SURAKA",
"WIRIRIMA",
"LOROCACHI",
"ZARAYACU",
"PACAYACU",
"MORETECOCHA",
"JATUN MOLINO",
"SANTIAK",
"ACHUAR",
"RAYAYACU",
"PIWIRI",
"GUARANI",
"PUTUIMI",
"SIMON BOLIVAR",
"CHAPINTZA",
"SHARUPI",
"SAN CARLOS",
"CHICO COPATAZA",
"COPATAZA",
"CHUWITAYU",
"ANKUASH",
"TSURAKU",
"MADRE TIERRA",
"SANTA ANA",
"AMAZONAS",
"NUEVA VIDA",
"SANTA CLARA",
"SAN FRANCISCO DE PUNIN",
"CURARAY",
"VILLANO",
"TOÑAMPARI",
"TIWINO",
"CHUYAYACU",
"JAIME ROLDOS",
"MEÑEMPARE",
"LIKINO",
"ARAJUNO",
"PITACOCHA",
"ALANGASI",
"EL TINGO",
"AMAGUAÑA",
"CHAUPITENA",
"CALDERON",
"CARAPUNGO",
"SAN MIGUEL DEL COMÚN",
"MARIANITAS",
"SAN JUAN DE CALDERON",
"SAN JOSE DE MORAN",
"LLOA",
"CHIRIBOGA",
"SAN JUAN DE LLOA",
"PACTO",
"SAGUANGAL",
"PACHIJAL",
"PINTAG",
"UBILLUS",
"TOLONTAG",
"POMASQUI",
"PUSUQUI",
"PUELLARO",
"ALOGUINCHO",
"ALCHIPICHI",
"QUINCHE",
"SAN VICENTE DE CUPUCURO",
"IGUIÑARO",
"SAN JOSE DE MINAS",
"EL MERIDIANO",
"PLAYA RICA",
"TUMBACO",
"TOLA GRANDE",
"LA MORITA",
"TOLA CHICA",
"CHIMBACALLE",
"ALPAHUASI",
"LA MEXICO",
"LULUNCOTO",
"PIO XII",
"COTOCOLLAO",
"23 DE JUNIO",
"JARRIN - LOMA HERMOSA",
"QUITO NORTE",
"THOMAS",
"CHILLOGALLO",
"BUENA VENTURA",
"EL TRANSITO",
"VENCEREMOS",
"LA CANTERA",
"LA ERMITA",
"LOS LIBERTADORES",
"LA MAGDALENA",
"EL PINTADO",
"LA ATAHUALPA",
"LOS DOS PUENTES",
"PRIMERO DE MAYO",
"VILLAFLORA",
"BELISARIO QUEVEDO",
"LA GASCA",
"LA PRIMAVERA",
"LAS CASAS - LA GRANJA",
"PAMBACHUPA",
"CARCELEN",
"BALCON DEL NORTE",
"CARCELEN BAJO",
"CARCELEN LIBRE",
"CORAZON DE JESUS",
"LOS EUCALIPTOS",
"LOS MASTODONTES",
"CENTRO HISTORICO",
"PANECILLO",
"RECOLETA",
"ATUCUCHO",
"CORDILLERA - EL PORVENIR",
"EL PINAR ALTO",
"LA PULIDA",
"COMITE DEL PUEBLO",
"CARRETAS",
"LA BOTA",
"COLLA LOMA",
"CHILIBULO",
"CUARTEL MARISCAL SUCRE",
"LA SANTIAGO",
"MAGDALENA ALTA",
"MAGDALENA BAJA",
"SAN JOSE DE CHILIBULO",
"YAGUACHI",
"EL CONDADO",
"COLINAS DEL NORTE",
"ROLDOS - PISULI",
"RANCHO BAJO",
"LA CAMPIÑA",
"SANTA ANITA",
"GUAMANÍ",
"NUEVA AURORA",
"PLAN VICTORIA",
"JOSE PERALTA",
"MATILDE ALVAREZ",
"TURUBAMBA DE MONJAS",
"IÑAQUITO",
"24 DE MAYO",
"BATAN - LA PAZ",
"BENALCAZAR",
"LA CAROLINA",
"ITCHIMBIA",
"GUAPULO",
"LA VICENTINA",
"TOLA BAJA",
"LOS LAURELES",
"MONTESERRIN",
"ZALDUMBIDE",
"DAMMER - LOS ALAMOS",
"LA LUZ",
"LAS ACACIAS",
"LOS PINOS",
"COFAVI",
"LA ARGELIA",
"EL MIRADOR - SANTA ROSA",
"LUCHA DE LOS POBRES - GUAJALO",
"ORIENTE QUITEÑO",
"SAN MARTIN",
"AEROPUERTO",
"LA ECUATORIANA",
"2 DE FEBRERO",
"LAS ORQUIDEAS ALTAS",
"MANUELA SAENZ",
"NUEVOS HORIZONTES",
"LA FERROVIARIA",
"20 DE MAYO - LAS VERTIENTES",
"CHAHUARQUINGO",
"SAN PATRICIO",
"LA MENA",
"MARISCAL SUCRE",
"LA FLORESTA",
"PONCEANO",
"PONCEANO ALTO",
"LA OFELIA",
"PUENGASI",
"BALCON DEL VALLE",
"EDEN DEL VALLE",
"JARDIN DEL VALLE - ALMA LOJANA",
"ORQUIDEAS",
"SAN JOSE DE MONJAS",
"QUITUMBE",
"EJERCITO NACIONAL",
"NUEVOS HORIZONTES DEL SUR",
"PUEBLO SOLO PUEBLO",
"PUEBLO UNIDO",
"SALVADOR ALLENDE",
"RUMIPAMBA",
"GRANDA CENTENO",
"QUITO TENNIS",
"SAN GABRIEL",
"SAN BARTOLO",
"BARRIONUEVO",
"QUITO SUR",
"CLEMENTE BALLEN",
"EL CALZADO",
"SAN ISIDRO DEL INCA",
"AMAGASI",
"LA QUINTANA",
"LOS ALAMOS",
"SOLCA",
"BARRIO LARREA",
"EL PLACER - EL TEJAR",
"LA AMERICA",
"MIRAFLORES BAJO",
"TOCTIUCO",
"SOLANDA",
"GONZ ZALDUMBIDE - MAYORISTA",
"REGISTRO CIVIL",
"TURUBAMBA",
"CAUPICHU",
"ETERNIT",
"BEATERIO",
"EL CONDE",
"SANTO THOMAS",
"CANGAHUA",
"CHUMILLOS",
"PISAMBILLA",
"SANTA ROSA DE PACCHA",
"SAN LUIS DE GUACHALÁ",
"CUTUGLAGUA",
"EL MURCO",
"TUPIGACHI",
"LA FLORENCIA",
"SAN PEDRO DE TABOADA",
"FAJARDO",
"MINDO",
"SMIGUEL DE LOS BANCOS",
"GANADEROS ORENSES",
"SAN BERNABE",
"RÍO BLANCO",
"PEDRO VICENTE MALDONADO",
"LA CELICA",
"ANDOAS",
"SALCEDO LINDO",
"PUERTO QUITO",
"LA ABUNDANCIA",
"SANTA MARIANITA",
"LAS MARAVILLAS",
"AUGUSTO N MARTINEZ",
"LLATANTOMA",
"SAMANGA",
"LAQUIGO",
"UNAMUNCHO",
"HUACHI GRANDE",
"HUACHI SAN FRANCISCO",
"PASA",
"MOGATO",
"PICAYHUA",
"SIGSIPAMBA",
"PILAHUIN",
"TAMBO LOMA",
"EL SALADO",
"QUISAPINCHA",
"ILLAGUA CHICO",
"SAN BARTOLOME",
"ANGAMARQUILLO",
"HUACHI TOTORAS",
"PISHILATA",
"LA JOYA",
"TECHO PROPIO - TIUGUA",
"HUAPANTE GRANDE",
"ULBA",
"VIZCAYA",
"MOCHA",
"YANAHURCO",
"ZURMI",
"SHAIMI",
"YAWI",
"GUAYZIMI",
"SANTA ELENA",
"CUMBARATZA",
"NAMBIJA BAJO",
"GUADALUPE",
"GUAGUAYME ALTO",
"SOAPACA",
"PIUNTZA",
"SAN CARLOS DE LAS MINAS",
"NAMBIJA",
"LA VICTORIA DE IMBANA",
"EL TIBIO",
"TAMBO BLANCO",
"TIMBARA",
"ROMERILLOS BAJOS",
"LA PITUCA",
"CHITO",
"SALTO DEL INCA",
"ZUMBA",
"LA DIVERSION",
"LA GUAYUSA",
"GUARIMIZAL",
"EL PORVENIR DEL CARMEN",
"LOYOLA",
"NUMBALA",
"VALLADOLID",
"TAPALA",
"SAN FRANCISCO DEL VERGEL",
"SAN JUAN DE PUNCHES",
"SAN MARTIN DE PORRES",
"PALANDA",
"VALLE HERMOZO",
"PUCARON",
"CHAPINTZA BAJO",
"KURINTS",
"NUEVO PORVENIR",
"TUTUPALI",
"SAYUPAMBA",
"CHICANA",
"SAN VICENTE DE CANEY",
"LOS ENCUENTROS",
"EL ZARZA",
"YANZATZA",
"EL GUISMI",
"MIASI",
"CHUCHUMBLETZA",
"UWENTS",
"PACHICUTZA",
"SAN ROQUE",
"SHACAY",
"EL PANGUI",
"KUNKI",
"ZUMBI",
"NANGUIPA ALTO",
"LA WINTZA",
"NUEVO QUITO",
"PTO MINERO LA PUNTA",
"PAQUISHA",
"BELLA VISTA",
"EL CASCAJO EL CAMOTE",
"EL ENO",
"ATARY",
"EL TRIUNFO UNO",
"CHONE UNO",
"CHIRITZA",
"GENERAL FARFAN",
"TRES PALMAS",
"PATRIA NUEVA",
"LUZ Y VIDA",
"AKIWARI",
"NUEVA LOJA",
"PUERTO AGUARICO",
"SAN PEDRO (EL CONDOR)",
"CUYABENO",
"PACUYA",
"AGUAS NEGRAS",
"SAN VICTORIANO",
"TARAPOA",
"CENTRO UNIÓN",
"CENTRO ENO",
"TAIKIWA",
"SOTOSIAYA",
"REY DE LOS ANDES",
"ROSA FLORIDA",
"LA BARQUILLA",
"PALMA ROJA",
"SANSAHUARI",
"UNIÓN ORENSE",
"SAN PEDRO DE LOS COFANES",
"JIVINO VERDE",
"SIETE DE JULIO",
"LUZ DE AMERICA",
"LIMONCOCHA",
"UNIÓN AMAZÓNICA",
"PANACOCHA",
"PUKA PEÑA",
"TIERRAS ORIENTALES",
"EL DORADO DE CASCALES",
"LOS MADEROS",
"BERMEJO",
"TARUKA",
"MUSHUK KAWSAY",
"GONZALO PIZARRO",
"DASHINO",
"PANDAYACU",
"PUERTO LIBRE",
"SINANGUE",
"CONONACO - KAWIMENO",
"DIKARO",
"BAMENO",
"YASUNI",
"FRONTERAS DEL ECUADOR",
"DAYUMA",
"ESFUERZO AMAZONICO",
"PUERTO PINDO",
"RIO TIPUTINI",
"TARACOA",
"PAMIWA KUCHA",
"INES ARANGO",
"TIGUINO",
"HUANCAVILCA",
"CASPISAPA",
"LA BELLEZA",
"JAGUAR DOS",
"LAS DELICIAS",
"CANAAN SANGAY",
"CACIQUE JUMANDY",
"SAN LORENZO DE ACORANO",
"PTO FCO DE ORELLANA",
"SAN JOSE DEL COCA",
"FLOR DE ORIENTE",
"FLOR DE PANTANO",
"TRES DE NOVIEMBRE",
"25 DE DICIEMBRE",
"LAGO SAN PEDRO",
"UNION MILAGREÑA",
"POMPEYA",
"SAN SEBASTIAN DE COCA",
"SARDINAS",
"HUATARACU",
"JOYA DE LOS SACHAS",
"AVILA",
"AVILA VIEJO",
"PUSCO COCHA",
"PUERTO MURIALDO",
"BAJO HUINO",
"JANDIA YACU",
"SAN JOSE DE DAHUANO",
"PALTA COCHA",
"SAN JOSE DE PAYAMINO",
"VERDE SUMACO",
"SAN FRANCISCO DE ASIS",
"UNION Y PROGRESO",
"JUAN PIO MONTUFAR",
"LORETO",
"ALTAMIRA",
"LA MARIANITA",
"CHIGUILPE",
"AUTENTICOS CAMPESINOS",
"LUZ DE AMÉRICA",
"EL CONGOMA",
"LA REFORMA",
"PUERTO LIMÓN",
"SANTA CECILIA DE PUPUSA",
"ABRAHAM CALAZACON",
"15 DE SEPTIEMBRE",
"LAS PLAYAS",
"LOS COLONOS",
"LUZ DEL DIA",
"PLAN DE VIVIENDA",
"PROLETARIADO",
"VILLA FLORIDA",
"BOMBOLI",
"NUEVO ISRAEL",
"AVISPA CHILA",
"LIBERTAD LOJANA",
"EL PORTÓN",
"ACACIAS",
"CHE GUEVARA",
"CIUDAD NUEVA",
"ECHANIQUE",
"JUAN EULOGIO",
"LOS ROSALES",
"TERMINAL TERRESTRE",
"UCOM",
"JULIO MORENO ESPINOZA",
"CRISTO VIVE",
"LA PEPSI",
"LA QUEVEDO",
"SANTA MARTHA -2-",
"SANTA MARTHA -1-",
"20 DE OCTUBRE",
"AQUEPÍ",
"LAS PALMERAS",
"RIO TOACHI",
"EL PLACER DEL TOACHI",
"LAS MERCEDES",
"BRASILIA DEL TOACHI",
"CLEMENCIA DE MORA",
"30 DE JULIO -1-",
"SAN GABRIEL DEL BABA",
"JULIO MORENO - SAN VICENTE DE AQUEPI",
"NUEVO CAMINO",
"UNIFICADOS",
"ZARACAY",
"9 DE DICIEMBRE",
"LA CONCORDIA",
"FLOR DEL VALLE",
"JOSE LUIS TAMAYO / MUEY",
"COLONCHE",
"PALMAR",
"MANANTIAL DE GUANGALA",
"MONTEVERDE",
"BAMBIL DESECHO",
"LOMA ALTA",
"LAS BALSAS",
"SALANGUILLO",
"AYANGUE",
"CHANDUY",
"BAJADA DE CHANDUY",
"TUGADUAJA / ENGUNGA",
"SAN JOSE DE ANCON",
"PROSPERIDAD / EL TAMBO",
"MANGLARALTO",
"SAN PEDRO / VALDIVIA",
"SINCHAL",
"OLON",
"LA ENTRADA",
"CADEATE",
"MONTAÑITA",
"JUNTAS DEL PACIFICO",
"ZONA 3",
"ZONA 1",
"ZONA 2",
"ZONA 4",
"BERLIN",
"HAMBURGO",
"CAMBERRA",
"SYDNEY",
"VIENA",
"BRUSELAS",
"SEUL",
"BEIJING",
"SHANGAI",
"GUANZHOU",
"PALMA DE MALLORCA",
"BARCELONA",
"BARCELONA / TERRASSA",
"BARCELONA / NAVARRA",
"MADRID",
"MADRID / TOLEDO",
"MURCIA",
"MURCIA / JUMILLA - YECLA",
"MURCIA / LORCA",
"MURCIA / CARTAGENA MAR MENOR",
"MALAGA / MALAGA",
"MALAGA / SEVILLA Y CORDOVA",
"MALAGA / ALMERIA",
"MALAGA / GRANADA",
"MALAGA / MARBELLA",
"MALAGA / HUELVA",
"MALAGA / VERA",
"ALICANTE",
"PARIS",
"LONDRES",
"LISBOA",
"BUDAPEST",
"NUEVA DELHI",
"TEL AVIV",
"MILAN / MILAN",
"MILAN / TURIN",
"GENOVA",
"ROMA",
"TOKIO",
"LA HAYA",
"ESTOCOLMO",
"BERNA",
"LAUSANNE",
"MOSCU",
"YAKARTA",
"KUALA LUMPUR",
"ANKARA",
"TEHERAN",
"DOHA",
"BELARÚS",
"MONTREAL",
"TORONTO",
"OTTAWA",
"CHICAGO",
"MIAMI / MIAMI",
"MIAMI / ORLANDO",
"NUEVA YORK",
"NUEVA YORK / QUEENS",
"WASHINGTON",
"CONNECTICUT",
"HOUSTON",
"NEW ORLEANS",
"NEW JERSEY",
"NEW JERSEY / PLAINFIELD",
"NEW JERSEY / HIGHSTOWN - TRENTON",
"MINNEAPOLIS",
"ATLANTA",
"PHOENIX",
"BUENOS AIRES",
"BRASILIA",
"SAO PAULO",
"RIO DE JANEIRO",
"BOGOTA",
"IPIALES",
"CALI",
"HABANA / HABANA",
"HABANA / CIENFUEGOS",
"HABANA / MATANZAS",
"HABANA / PINAR DEL RIO",
"HABANA / SANTA CLARA",
"HABANA / SANTIAGO DE CUBA",
"SAN SALVADOR",
"GUATEMALA",
"TEGUCIGALPA",
"MEXICO",
"TAPACHULA",
"MANAGUA",
"PANAMA",
"LIMA",
"TUMBES",
"PIURA",
"EL CAIRO",
"MONTEVIDEO",
"CARACAS",
"MERIDA",
"PRETORIA"

	];
	
		$( "#inputProvincia" ).autocomplete({
				source: provincias
		});
		$( "#inputCanton" ).autocomplete({
				source: canton
		});
		$( "#inputParroquia" ).autocomplete({
				source: parroquia
		});
		$( "#inputZona" ).autocomplete({
				source: zona
		});
	
  } );
  </script>


{% endblock %}
