{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block title %}Resultados{% endblock title %}

{% block content %}
    <h1>Resultados</h1>
    
    <p>Lasso: {{lasso}}</p>
    <p>Moreno: {{moreno}}</p>
    <p>Blancos: {{blancos}}</p>
    <p>Nulos: {{nulos}}</p>
    
    <h3>Actas individuales</h3>
    {% for acta in actas %}
    <a href="/acta/{{acta.id}}/">{{acta.junta}}</a> 
    {% endfor %}
    
    
    <hr />
    <a href="/opendata/">Descargar data</a> |
    <a href="/">Ir al inicio</a>
{% endblock %}
