{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block title %}Resultados{% endblock title %}

{% block content %}
	
	<!-- Start Posts -->
<div class="post">
  <div class="container">

    <!-- HR -->
    <hr class="container">

    <div class="row get-post">
	  <div class="col col-md-12">
			<h2 class="title">Resumen Resultados</h2>
	  </div>
      <div class="col col-md-6">
        
        <table class="table">
		<thead>
			<tr>
				<th style="width:30px">Partido</th>
				<th>Candidato</th>
				<th>Votos</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img src="/static/img/creo.png" width="40px" /></td>
				<td style="text-align:left">Guillermo Lasso</td>
				<td>{{lasso}}</td>
			</tr>
			<tr>
				<td><img src="/static/img/ap.png" width="30px" /></td>
				<td style="text-align:left">Lenin Moreno</td>
				<td>{{moreno}}</td>
			</tr>
			<tr>
				<td><img src="/static/img/blanco.png" width="25px" /></td>
				<td style="text-align:left">Blancos</td>
				<td>{{blancos}}</td>
			</tr>
			<tr>
				<td><img src="/static/img/nulo.png" width="25px" /></td>
				<td style="text-align:left">Nulos</td>
				<td>{{nulos}}</td>
			</tr>
		</tbody>
	</table>
      </div>
      <div class="col col-md-6">
        <center><div id="chartContainer" style="width: 50%; height: 350px"></div> </center>
      </div>
    </div>


  </div>
</div>
<!-- End Posts -->
	
	
	
<!-- Start Comments -->
<div class="comments">

  <h2 class="pagetitle">Busca Actas</h2>

    <div class="item">
      	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Acta">
		
		<ul id="myUL">  
			{% for acta in actas %}
			<li><a href="/acta/{{acta.id}}/">{{acta.provincia}} - {{acta.circunscripcion}} - {{acta.canton}} - {{acta.parroquia}} - {{acta.zona}} - {{acta.junta}}{{acta.genero}}</a></li>
			{% endfor %}
		</ul>
		<br/>
		<a href="/opendata/">Descargar Todo</a>
    </div>

</div>
<!-- End Comments -->

	
	
	<script type="text/javascript"> 
		window.onload = function() { 
			total = {{lasso}}+{{moreno}}+{{blancos}}+{{nulos}};
			$("#chartContainer").CanvasJSChart({ 
				/*title: { 
					text: "Porcentaje",
					fontSize: 24
				},*/ 
				axisY: { 
					title: "Votos" 
				}, 
				legend :{ 
					verticalAlign: "center", 
					horizontalAlign: "right" 
				}, 
				data: [ 
				{ 
					type: "pie", 
					showInLegend: true, 
					toolTipContent: "{label} <br/> {y} %", 
					indexLabel: "{y} %", 
					dataPoints: [ 
						{ label: "Guillermo Lasso",  y: ({{lasso}}*100/total).toFixed(2), legendText: "CREO-SUMA"}, 
						{ label: "Lenin Moreno",    y: ({{moreno}}*100/total).toFixed(2), legendText: "Alianza País" }, 
						{ label: "Blancos",   y: ({{blancos}}*100/total).toFixed(2),  legendText: "Blancos" }, 
						{ label: "Nulos",       y: ({{nulos}}*100/total).toFixed(2),  legendText: "Nulos"}
						
					] 
				} 
				] 
			}); 
		} 
	</script> 
	
	<script>
		function myFunction() {
			// Declare variables
			var input, filter, ul, li, a, i;
			input = document.getElementById('myInput');
			filter = input.value.toUpperCase();
			ul = document.getElementById("myUL");
			li = ul.getElementsByTagName('li');

			// Loop through all list items, and hide those who don't match the search query
			for (i = 0; i < li.length; i++) {
				a = li[i].getElementsByTagName("a")[0];
				if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
					li[i].style.display = "";
				} else {
					li[i].style.display = "none";
				}
			}
		}
	</script>
	
	
{% endblock %}
