{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block title %}Inicio{% endblock title %}

{% block content %}
    <!-- Main Box -->
	<div class="main-box2">
	  <div class="box-cover main-box-cover">
		<h1>Se Voluntario!</h1>
		<h4><big>Si deseas ser un colaborador de esta iniciativa siendo parte del equipo validador de actas,<br/>
		escríbenos a <a href="mailto:urnadevidrio@gmail.com">urnadevidrio@gmail.com</a> </big></h4>
	  </div>
	</div>
	<!-- End Main Box -->

{% endblock %}
