packages:
  yum:
    python27-devel: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

  02_remove_south:
    command: 'pip uninstall South -y'
    ignoreErrors: true

  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true

  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"

  06_setup_apache_deflate:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
    leader_only: true

  07_setup_apache_expires:
    command: "cp .ebextensions/enable_mod_expires.conf /etc/httpd/conf.d/enable_mod_expires.conf"
    leader_only: true
    
  08_firstuser:
    command: "django-admin.py firstuser"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: verum/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: verum.settings
